<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-button href="/home" style="background-color:  rgb(117, 14, 14)">
        <ion-icon name="undo" style=color:#ffffff></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
   <p style=color:#ffffff text-center>Dicas de Saúde</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
    <ion-button href="/corrida" style="--background:  rgb(117, 14, 14)">Benefícios da Corrida</ion-button><br>
    <ion-button href="/primeirossocorros" style="--background:  rgb(117, 14, 14)">Primeiros Socorros</ion-button><br>
    <ion-button href="/danca" style="--background:  rgb(117, 14, 14)">Benefícios da Dança</ion-button><br>
    <ion-button href="/sexo" style="--background:  rgb(117, 14, 14)">Benefícios do sexo</ion-button><br>
    <ion-button href="/atividadefisica" style="--background:  rgb(117, 14, 14)">Atividades Físicas</ion-button><br>
    <ion-button href="/habitos" style="--background:  rgb(117, 14, 14)">Hábitos</ion-button><br>
    

    
    
</ion-content>
