<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-button href="/home" style="background-color:  rgb(117, 14, 14)">
        <ion-icon name="undo" style=color:#ffffff></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
   <p style=color:#ffffff text-center>Dicas de Saúde</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">

    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-badge routerLink="../corrida">
              <img src="assets/imgsaude/corrida.jpg">
            </ion-badge>
          </ion-col>
        </ion-row>

            <ion-col>
              <ion-badge routerLink="../primeirossocorros">
                <img src="assets/imgsaude/psocorros.jpg">
              </ion-badge>
            </ion-col>
          

            <ion-row>
              <ion-col>
                <ion-badge routerLink="../sexo">
                  <img src="assets/imgsaude/sexo.png">
                </ion-badge>
              </ion-col>
            </ion-row>
                  
              <ion-col>
                <ion-badge routerLink="../danca">
                  <img src="assets/imgsaude/dança.jpg">
                </ion-badge>
              </ion-col>
            
            <ion-row>
              <ion-col>
                <ion-badge routerLink="../atividadefisica">
                  <img src="assets/imgsaude/atfisicas.png">
                </ion-badge>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-badge routerLink="../habitos">
                  <img src="assets/imgsaude/habitos.jpg">
                </ion-badge>
              </ion-col>
            </ion-row>
  
      </ion-grid>
</ion-content>
