<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/jogos" style="background-color:  rgb(117, 14, 14)">
        <ion-icon name="undo" style=color:#ffffff></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <p style=color:#ffffff>Jogos com Baralho</p>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding ion-text-justify">

  <h1>Detetive</h1>
  <ion-label>
    Coloque os jogadores em círculo, pode ser em volta de uma mesa bem grande. Quanto mais pessoas, mais divertido fica
    o jogo. Separe as cartas de acordo com a quantidade de jogadores. Identifique as cartas que serão o Detetive (Rei de
    Copas), Assassino (Às de Copas) e as demais pessoas, que serão as vítimas, recebem cartas comuns de 1 a 10. O
    objetivo do assassino é “matar” a maior quantidade de vítimas sem ser descoberto pelo detetive. Para “matar” o
    jogador, o assassino deve dar uma leve piscadela de olho. Assim que a vítima perceber o movimento ela deve mostrar
    sua carta e dizer: “morri”. O objetivo do detetive é parar o assassino o mais rápido possível, por isso ele precisa
    estar atento a todos os movimentos do jogo. Assim que ele descobrir o assassino deve dar voz de prisão. O jogo acaba
    de duas formas. A primeira: se o assassino matar todos os jogadores sem ser descoberto pelo detetive. A segunda: o
    detetive identifica o assassino e lhe dá voz de prisão.<br>
  </ion-label>
  <br>

  <h1>Dorminhoco:</h1>
  <ion-label>
    O jogo é simples. Separa-se de um baralho normal, uma trinca de cartas do mesmo naipe para cada jogador. Ou seja, se
    forem 4 os jogadores, separa-se 4 trincas. Se forem 5, cinco trincas, e assim por diante. Deve-se separar também um
    coringa. As cartas são embaralhadas e distribuídas entre os jogadores, sendo que um ficará com 4 cartas e iniciará o
    jogo. Este jogador escolhe uma de suas cartas e passa a mesma para o jogador a sua esquerda. O jogo prossegue,
    sempre com um jogador passando uma carta para o jogador seguinte. Quem receber o coringa passado pelo jogador
    anterior, deve ficar com ele por uma rodada, devendo passar outra carta. Quando um jogador formar uma trinca, ou
    seja, ficar com três cartas iguais na mão, deve baixá-las, mas com os valores para baixo, de maneira discreta. Os
    demais jogadores devem fazer o mesmo. O último a baixar suas cartas será o “Dorminhoco”. O objetivo o jogo,
    portanto, não é formar a trinca mas não ser o último a baixar as suas cartas. Atenção para não baixar suas cartas
    “sem querer” e confundir os demais jogadores! Assim, mais importante que ficar olhando suas cartas, é ficar olhando
    a mão dos adversários! Se alguém abaixar seu jogo, deve-se fazer o mesmo, a fim de não ser o “Dorminhoco”.<br><br>
  </ion-label>
  <br>

  <h1>Rouba-Montes:</h1>
  <ion-label>
    O objetivo do jogo é acumular o maior número de cartas, formando um grande monte. Inicia-se o jogo embaralhando as
    cartas. Coloque 8 delas sobre a mesa com a face voltada para cima e distribua 4 cartas para cada jogador. O primeiro
    jogador deve verificar entre as cartas de sua mão se há alguma carta que seja igual mesmo número ou letra, a alguma
    das cartas que está na mesa. Se alguma carta for igual, você junta as duas cartas e separa elas iniciando seu monte.
    Caso o jogador não tenha nenhuma carta que seja igual às da mesa, ele deve descartar uma carta qualquer da mão e
    colocá-la em cima da mesa. O próximo jogador deve procurar entre as cartas da mesa e a carta de cima do monte dos
    adversários uma carta igual a alguma que tenha. Se tiver uma carta igual a carta do topo do monte de algum
    adversário, o jogador põe sua carta em cima e rouba o monte para si (Rouba o Monte). Quando algum jogador ficar sem
    cartas na mão, deve pegar mais 4 cartas das que sobraram. O jogo termina quando se acabarem as cartas para
    distribuição e ninguém mais tiver cartas igual às da mesa ou do monte de alguém. Se também acabarem ou sobrarem
    poucas cartas na mesa, deve-se repô-las. O vencedor do jogo é quem tiver o maior monte de cartas ao final do
    jogo.<br>
  </ion-label>
  <br>

  <h1>Burrinho</h1>
  <ion-label>
    O jogo de baralho do burrinho é bem simples, por isso, é uma ótima opção para ser jogado com crianças. É possível
    iniciar com apenas dois jogadores e no máximo seis. Para começar, cada jogador deverá receber quatro cartas. O resto
    do baralho deverá ser colocado de cabeça para baixo em cima da mesa.<br><br>
    O jogo deve ser iniciado no sentido horário de quem quem distribuiu as cartas. A principal regra envolve jogar a
    carta na mesa, com isso, o próximo jogador deverá finalizar a jogada com uma do mesmo naipe e assim por diante. Se
    caso um participante não obter uma carta com o naipe necessário, será preciso comprar cartas na parte do baralho
    restante, até conseguir uma do mesmo naipe.<br>
    Ganha quem ficar sem cartas na mão.<br><br>
  </ion-label>
  <br>

  <h1>Cacheta</h1>
  <ion-label>
    O objetivo do jogo é formar trincas e/ou sequências, combinando as nove cartas. Uma trinca são três cartas de naipes
    diferentes do mesmo valor. Uma sequência são três cartas do mesmo naipe em ordem, como por exemplo, dois de espadas,
    três de espadas e quatro de espadas. Todos os jogadores iniciam a partida com sete ou dez pontos (ou vidas). Quando
    um jogador bate os demais perdem um ponto. Um jogador sai do jogo chega a zero.<br><br>
    Os jogadores vão comprando cartas e descartando até formar suas trincas e/ou seqüência. Pode-se comprar do monte de
    compras ou utilizar a última carta descartada. Normalmente quando algum jogador está com duas trincas e uma dupla e
    só falta uma carta para bater, ele pode dizer “pifei” ou “tô pifado”, avisando outros jogadores. Mesmo que você não
    esteja pifado poderá dizer que está para assustar os outros jogadores, como forma de blefe.<br><br>
  </ion-label>
  <br>

  <h1>Buraco</h1>
  <ion-label>
    Um verdadeiro clássico do baralho não poderia ficar de fora desta lista. Quem nunca reuniu a família ou os amigos
    para montar canastras e somar pontos? O objetivo do jogo é atingir 1500, 3000 ou 5000 pontos, de acordo com acordo
    prévio entre os jogadores. Todas as cartas valem pontos, e a contagem deles deverá ser feita da seguinte forma: A
    batida – 100 pontos Canastra real – 200 pontos Canastra simples ou suja – 100 pontos.<br><br>
    As cartas são distribuídas, após serem cortadas pelo jogador à direita do carteador, uma a uma, ou duas a duas, em
    sentido horário, fechadas, onze cartas para cada participante. O jogador à esquerda do carteador separará vinte e
    duas cartas em dois montes de onze cartas cada um, estes dois montes serão colocados a parte do jogo, com a face
    voltada para baixo, e recebem o nome de morto. Para seis jogadores são três mortos. As cartas que sobrarem serão
    colocadas no centro da mesa com a face virada para baixo.<br><br>
  </ion-label>

  <h1>Paciência</h1>
  <ion-label>
    Está sozinho? Isso não significa que você não vai ter como se divertir. O jogo de Paciência, que muita gente deve
    conhecer por causa do game do Windows, é a pedida ideal para passar o tempo sem precisar de outros jogadores.
    A mesa deverá ter quatro espaços, um para cada naipe, onde deverão ser colocadas as cartas em ordem crescente, a
    partir do ás. O objetivo do jogo é formar quatro pilhas de cartas em sequências que alternem as cores dos naipes, do
    ás ao rei, em ordem crescente. O jogo começa com 28 cartas dispostas em colunas. A primeira coluna contém uma carta,
    a segunda duas e assim sucessivamente. A primeira carta da coluna deverá estar sempre voltada para cima. As cartas
    restantes são empilhadas num estoque.<br><br>
  </ion-label>
  <br>

  <h1>Poker</h1>
  <ion-label>
    <img src="assets/imgjogos/poker.jpg">
    O Poker tem se popularizado muito ultimamente, com vários caras famosos jogando. Inclusive, há cada vez mais gente
    se profissionalizando, já que os grandes torneios pagam muito bem. Mas, vai com calma! Primeiro jogue com os seus
    camaradas!<br><br>
    No Poker, cada jogador recebe duas cartas, enquanto cinco são abertas para cada um, porém, somente sobre a mesa. A
    proposta é simples: vence quem combinar a melhor mão, usando suas cartas e as comunitárias. O jogo se desenvolve em
    quatro rodadas em que todos apostam.<br><br>
    O jogo gira em torno da interpretação da situação de cada jogador. Já viu aqueles caras que jogam de óculos escuros?
    A intenção é tentar ao máximo disfarçar suas reações e, muitas vezes, até mesmo blefar sobre elas. O Poker é muito
    maneiro pra jogar com a galera. Vale sempre uma apostinha que fique boa para todos.<br><br>
    Barbudo, aproveite para checar todas as regras desse jogo, em detalhes, e aprender certinho para ensinar ao
    pessoal.<br><br>
  </ion-label>
  <br>

  <h1>Truco</h1>
  <ion-label>
    <img src="assets/imgjogos/truco.jpg">
    Outro jogo muito tradicional, o Truco é bem antigo e tem uma dinâmica muito particular. Ele é ainda mais legal
    porque só se joga em duplas ou em dois trios, ainda que a primeira alternativa seja a mais recomendada. Antes de
    começar, você precisa retirar algumas cartas do baralho (8, 9, 10 e os curingas), para totalizar 40 cartas.<br><br>
    Essa adequação é para atender ao modelo de baralho antigo, de quando esse jogo foi criado. Fazendo isso, você está
    pronto para começar. A ideia é tentar somar 12 pontos, em 12 turnos. Naturalmente, o turno vale 1 ponto.<br><br>
    Cada um dos turnos é composto por três rodadas, e quem se der melhor em duas já é considerado o vencedor do turno. O
    nome do jogo é utilizado na hora em que uma das duplas ou um dos trios está em vantagem. Aí, basta falar: “Truco!”.
    É nesse momento que a zoeira rola solta, principalmente se o grupo estiver tomando uma cerva.<br><br>
    O desenvolvimento das partidas é bem leve e divertido, em um jogo simples e que se torna perfeito para reuniões
    familiares ou entre amigos.<br><br>
  </ion-label>
  <br>

  <h1>Suéca</h1>
  <ion-label>
    Sucesso entre os jogos de baralho, a Sueca é um clássico! Cara, ela é capaz de trazer horas de diversão, em que você
    e os outros jogadores vão perder até a noção do tempo. Um conselho: nem marque compromisso depois, porque certamente
    você vai se atrasar.<br><br>
    O fato de a Sueca ser tão popular é sua dinâmica simples de jogo. Cada jogador recebe dez cartas, em vários turnos,
    até que o baralho seja encerrado. Joga-se sempre com quatro pessoas, divididas em duas duplas. Assim como no Truco,
    as cartas 8, 9 e 10 ficam de fora da brincadeira.<br><br>
    Os jogadores precisam colocar cartas dos determinados naipes na mesa, e quem colocar a mais alta leva as cartas de
    todos os jogadores. Isso soma pontos para a dupla, que fica mais próxima de tomar a frente na disputa.<br><br>
    Toda essa disputa acontece em dez rodadas, em que cada uma delas há quatro jogadas (uma para cada jogador da mesa).
    Ao final das rodadas, a dupla que tiver somado mais pontos vence a partida.<br><br>
  </ion-label>
  <br>

  <h1>Mau-Mau</h1>
  <ion-label>
    O Mau-mau está entre os jogos de baralho mais engraçados e divertidos. Seu principal diferencial é permitir um
    número maior de jogadores — cada um joga por si. Com até seis, a partida fica show! Dá até para fazer duas mesas se
    tiver muita gente reunida, e realizar uma espécie de final entre os vencedores.<br><br>
    O jogo é simples: cada participante recebe sete cartas e precisa descartar uma a cada rodada. É preciso casar em
    número ou naipe com a que estiver na mesa. Caso você não tenha em mãos, precisa comprar no monte que fica à
    disposição. Quando há muitas pessoas, o monte acaba rápido, então as cartas descartadas se transformam no novo
    monte.<br><br>

    <img src="assets/imgjogos/maumau.jpg">
    <br><br>
    
    Algumas cartas têm funções especiais, como o Ás. Quando alguém a descarta, automaticamente o próximo jogador da mesa
    perde a vez. Cara, você não tem ideia de como isso gera rivalidade no jogo. A galera cai mesmo na pilha e a disputa
    se torna engraçada. Há outras regras que fazem esse jogo ser, de longe, o mais leve e divertido entre todos.<br><br>
    Barbudo, esses são alguns dos melhores jogos de baralho para você colocar em prática com a rapaziada. Dá para passar
    horas dando muitas risadas e zoando quem mandar mal. Pode ter certeza de que sua reunião com os amigos ou com os
    familiares ficará ainda mais agradável.<br><br>
  </ion-label>
  <br>
</ion-content>