<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/jogos" style="background-color:  rgb(117, 14, 14)">
        <ion-icon name="undo" style=color:#ffffff></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <p style=color:#ffffff>Jogos para PC</p>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding ion-text-justify">

  <h4>Confira os 10 Melhores games para PC</h4>

  <h1>Skull and Bones</h1>
  <ion-label>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/ndGiKVDgbHI" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

    Um dos grandes destaque entre os melhores games de 2019 vai para o Skull and Bones. Com bases vindas do Assasin’s
    Creed Black Flag, esse game traz o máximo realismo das batalhas navais. Incluindo possibilidade de alterar e
    modificar os navios conforme a sua preferência, Skull and Bone é uma excelente opção entre desempenho gráfico e boa
    jogabilidade.<br><br>
    Você poderá escolher entre as batalhas individuais ou modo 5x5. Além de toda a temática de guerra naval dos século
    XVIII o game conta também com alguns detalhes à mais em sua temática fantasiosa, incluindo criaturas místicas (como
    o kraken) muito sugestivas para as batalhas navais.<br><br>
    Com ótimas indicações e entre um dos mais aguardados games de 2019, Skull and Bone é o game ideal para quem busca
    aventura, batalhas navais e temáticas antigas.<br><br>
  </ion-label>
  <br>

  <h1>Devil May Cry 5</h1>
  <ion-label>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/p2lWUQHUapM" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

    O quinto título da série Devil May Cry entra para a lista dos melhores games de 2019 com um desempenho visual
    fantástico. O game traz realismo como nunca, graças ao seu novo sistema gráfico integrado (o mesmo utilizado em
    Resident Evil 7: Biohazard e Resident Evil 2: Remake). Os personagens também tiveram um “upgrade” e agora apresentam
    mais detalhes e desenvolvimento de gestos, tudo para garantir uma das melhores experiências visuais
    possíveis<br><br>
    durante o jogo.
    Não fugindo muito da história original, Devil May Cry 5 será uma continuação direto de Devil May Cry 4, mantendo os
    mesmo protagonistas e otimizando ainda mais a dificuldade dos inimigos.<br><br>
    Para quem é fã da série, o novo Devil May Cry 5 promete não decepcionar e garante excelente jogabilidade, ótimo
    desempenho visual e um enredo muito bem estruturado<br><br>
  </ion-label>
  <br>

  <h1>Jedi: Fallen Order</h1>
  <ion-label>
    <img src="assets/imgjogos/jedi.jpg"><br><br>

    O Game Jedi: Fallen Order é um dos lançamentos mais tardios do ano. A previsão de conclusão e de seu lançamento é
    apenas durante o nosso outono deste ano, o que significa que ainda não temos muitos detalhes e confirmações sobre a
    temática e as inovações do game.<br><br>
    O que sabemos até então é que Jedi: Fallen Order deve se passar entre os episódios III e IV de Star Wars, contando a
    história do Padawan Cal escapando da chamada Ordem 66.<br><br>
    Alguns rumores indicam ainda que Jedi: Fallen Order deve proporcionar grande imersão graças aos gráficos intensos e
    ótima jogabilidade durante as batalhas.<br><br>
  </ion-label>
  <br>

  <h1>Sekiro: Shadows Die Twice</h1>
  <ion-label>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/4OgoTZXPACo" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

    Sekiro: Shadows Die Twice entra para a lista dos melhores games de 2019 como um dos melhores jogos de ação e
    aventura já distribuídos. Com uma temática tensa, incluindo um guerreiro desfigurado e a era brutal do Japão no fim
    dos anos 1500, essa versão consegue unir o melhor da história antiga com massacres realistas e visuais de alta
    fidelidade.<br><br>
    Em Sekiro: Shadows Die Twice você é o “Lobo de um braço só” resgatado da morte e destinado a proteger um senhor de
    inimigos e clãs cruéis (seguindo bem a linha tensa e dramática da era japonesa).<br><br>
    Dos mesmo criadores de Bloodborne e da série Dark Soulsm Sekiro: Shadows Die Twice promete ser um game extremo,
    muito detalhado e com uma jogabilidade incrível.<br><br>
  </ion-label>
  <br>

  <h1>Resident Evil 2: Remake</h1>
  <ion-label>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/u3wS-Q2KBpk" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

    Finalmente! Eis que agora temos um dos melhores games da franquia Resident Evil replanejada e otimizada em gráficos
    dos “tempos modernos”. Depois do sucesso de Resident Evil 7: Biohazard, a Capcom resolveu apostar em uma proposta
    diferente, trazendo umas das versões mais bem avaliadas do game (em sua época de lançamento) com toda a tecnologia e
    visual dos jogos atuais.<br><br>
    Resident Evil 2: Remake se passará na famosa Raccoon City, como a versão de origem, tendo como protagonistas Leon
    Kennedy e Claire Redfield.<br><br>
    Com controles melhorados e experiência em terceira pessoa os fãs de Resident Evil 2 podem esperar por uma game
    clássico, mas com uma pegada única e original. Seus monstros agora são mais fortes e o desafios de cena se tornam
    mais dificultosos, graças ao detalhes nítidos e a jogabilidade do game. Resident Evil 2: Ramake promete ser um game
    a altura de Biohazard, com movimentação perfeita e um enredo super clássico.<br><br>
  </ion-label>
  <br>

  <h1>Doom Eternal</h1>
  <ion-label>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/_oVwrpfo_QA" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

    Doom Eternal entra para a lista dos melhores games para PC de 2019 com uma expectativa altíssima. O Próximo game de
    tiros da séries em primeira pessoa, satisfaz grande parte dos rumores, trazendo muito mais realismo, cenário e
    detalhes de imagem e som.<br><br>
    Eternal é melhorado em relação à Doom 2016 em vários pontos, tanto no aspecto “físico” dos monstros, quanto nas
    cores e detalhes (mais vivos) captados nos momentos de tiros e explosões.<br><br>
    Um grande diferencial de Doom Eternal é o modo como a destruição dos monstros se mostra em relação a sua versão
    anterior. Agora os players terão um cenário mais imersivo, contando com mais sangue em tela e pedaços dos monstros
    ao longo de toda a trajetória do jogo.<br><br>
    Sombras, luzes, design e todos os detalhes visuais do game ganharam amplos detalhes, o que deve melhorando ainda
    mais a experiência dos games FPS.<br><br>
  </ion-label>
  <br>

  <h1>Metro Exodus</h1>
  <ion-label>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/wx2Irm3ZFz8" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

    Metro Exodus é outra versão em primeira pessoa de grande destaque. O Game traz variação climática dinâmica e conta
    com uma imersão ainda mais intensa por parte dos players.<br><br>
    Em questão de história Metro Exodus se passa em um local selvagem da Rússia (pós apocalipse), com alguns detalhes
    impressionantes na questão visual e auditiva.<br><br>
    Para este game você poderá esperar por cenários com iluminações diversas, de dia e a noite, locais escuros ou
    ensolarados e detalhes em larga escala para respiração, movimentos, uivos e ventos do game. Uma mistura de visão e
    sensações capazes de provocar imersão total durante todos os momentos.<br><br>
    Metro Exodus é um dos games mais aguardados de 2019 e seu lançamento está previsto para fevereiro deste ano.<br><br>
  </ion-label>
  <br>

  <h1>Anthem</h1>
  <ion-label>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/DPf-EATqFng" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

    Anthem é um dos 10 games da nossa lista mais aguardados para 2019. Sua temática é muita detalhada, trazendo todos os
    efeitos dos visuais robóticos, unida aos visuais terrenos e ameaçadores. Esse RPG cooperativo permite participação
    de até 3 jogadores, podendo optar por armaduras individuais, tecnologias de ponta e uma resposta audiovisual
    excelente.<br><br>
    Anthem se passa em um mundo inacabado por uma facção que ameaça toda a humanidade. Impeça esta ameaça de capturar as
    tecnologia ancestrais em um game rápido, com variações de cenas intensas e respostas de jogo impecáveis.<br><br>
    Anthem lança em fevereiro de 2019 e é uma excelente opção para os fãs de visuais carregados, com muitos detalhes e
    uma das melhores ideias de RPG de ação da atualidade.<br><br>
  </ion-label>
  <br>

  <h1>Trials Rising</h1>
  <ion-label>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/sN1va4g8msU" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

    Trials Rising é um “clássico” game de motocicleta, com novas interações, mecânica otimizada, novos recursos, pistas
    elaboradas e canários super modernos. Em Trials Rising você vai desde os fundos de quintais, até os maiores
    estádios, tudo com acrobacias intensas e o melhor dos games de motocross.<br><br>
    Trials Rising tem cenários de boa fidelidade, áudio de qualidade e uma experiência de jogo muito imersiva. A
    jogabilidade é digna de um game do gênero, trazendo ainda modo de jogo multiplayer e uma infinidade de
    recursos.<br><br>
    O game tem lançamento previsto para fevereiro de 2019.<br><br>
  </ion-label>
  <br>

  <h1>Rage 2</h1>
  <ion-label>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/K9fWKslhPvQ" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

    Rage 2 estará disponível em 14 de maio de 2019. O game mistura num mundo sem leis ou ordem, reunindo tiros de alta
    fidelidade com a melhor experiência de jogo em mundo aberto.<br><br>
    Os cenários do game são pontos de grande destaque, pois eleva a imersão graças a iluminação autêntica, imagens
    amplas e bons contrastes entre luzes e sombras.<br><br>
    Durante a evolução do game você poderá usar veículos gigantescos e lutar contra facções inimigas pela dominação das
    terras.<br><br>
    Trazendo também um excelente enredo, sua história é construída para aumentar ainda mais a intensidade do game e
    deixá-lo com um ar de violência, ação e muitos recursos visuais.<br><br>
    O Game de experiência FPS promete ser uma ótima escolha para 2019.<br><br>
  </ion-label>
  <br>



</ion-content>