<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/receitas" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
          </ion-buttons>
    <ion-title>
        <p style=color:#ffffff text-center>Receitas Saudáveis  </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h5 style=color:#ffffff> Omelete Fitness para emagrecer:</h5>
    <ion-badge style="background: #5f010180">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/p9lHsTJoKOI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h4>Ingredientes:</h4>

    <p>3 ovos</p>
    <p>sal a gosto</p>
    <p>pimenta a gosto</p>
    <p>cheiro verde</p>
    <p>cebola a gosto</p>
    <p>tomate </p>
    <p>cenoura</p>
    <p>pode fazer o recheio a gosto</p>
    <p>limão a gosto</p>
    <p>pimentão </p>
  </ion-badge>
  <br>
  <br>
  <br>

  <h5 style=color:#ffffff> Pizza que não engorda:</h5>
  <ion-badge style="background: #5f010180">
  <iframe width="400" height="215" src="https://www.youtube.com/embed/JIiWDkojmMs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h4>Ingredientes:</h4>

    <p>1 gomo de linguiça defumada</p>
    <p>5 ovos inteiros</p>   
    <p>2 colheres (sopa) de queijo parmesão ralado</p>
    <p>4 colhres (sopa) de farelo de aveia</p>
    <p>4 colheres (sopa) de molho de tomate</p>
    <p>150g de queijo muçarela</p>
    <p>5 fatias de tomate</p>
    <p>orégano a gosto </p>
    <p>azeitona a gosto</p>
  </ion-badge>
  <br>
  <br>
  <br>
  </ion-content>
