<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/receitas" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
          </ion-buttons>
    <ion-title>
        <p style=color:#ffffff text-center>Receitas Saudáveis  </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p style=color:#ffffff> Como preparar marmita FIT:</p>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/QY62kngEqjI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-content>
