<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/saude" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>
        <p style=color:#ffffff text-center> Primeiros Socorros </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     
  <b><h4>As 11 Principais Técnicas de Primeiros Socorros</h4></b>
  <p>Primeiros socorros são os primeiros cuidados que devem ser prestados quando alguém se machuca ou começa a sentir-se mal.</p>
  <p>É necessário que todas as pessoas tenham noções de primeiros socorros para agir de maneira correta quando presenciarem algum acidente.</p>
  <p>No caso de ferimentos leves, pode-se cuidar da vítima em casa mesmo, mas há algumas situações em que se deve agir rapidamente para socorrer uma pessoa.</p>
  <p>Precisa-se saber avaliar a gravidade da situação. Se for necessário, encaminhar a vítima para um hospital, onde ela passará por uma avaliação médica.</p>
  <p>Observe algumas técnicas corretas que devem ser seguidas durante os primeiros socorros.</p><br>

      <b><h1>Hemorragia nasal</h1></b>
      <p>Hemorragia nasal é a perda de sangue pelo nariz, causada pela ruptura de um vaso sanguíneo.</p>
    
      <b><h1>O que fazer?</h1></b>
      <ul>
      <li>Sentar a pessoa com a cabeça levemente inclinada para a frente, fazendo-a respirar pela boca, evitando que o sangue vá para a garganta e seja engolido.</li>
      <li>Pressionar as narinas por cerca de 10 minutos.</li>
      <li>Procurar um médico, se sangramento não parar e a perda de sangue for muito grande.</li>
      <li>Procurar um médico, se sangramento não parar e a perda de sangue for muito grande.</li>
      </ul>

      <img src="assets/img/hnasal1.jpeg">

      <br><b><h1>Queimaduras</h1></b>
      <p>Queimaduras podem ser provocadas por choque elétrico, fogo, ferro quente, água quente, exposição prolongada ao sol forte e outras situações.</p>

      <b><h1>Como devemos agir?</h1></b>
      <ul>
      <li>Se a queimadura for superficial, lavar apenas com água gelada e secar o local com pano limpo.</li> 
      <li>Se houver necessidade de um curativo, deve-se fazê-lo com gaze para proteger, evitar atrito e contaminação.</li>
      <li>Quando a queimadura é muito grande ou é causada pelo excesso de exposição ao sol, deve-se ingerir muito líquido.</li>
      <li>Se a queimadura for grande, procure um hospital para receber tratamento adequado.</li>
      </ul>

      <img src="assets/img/queimaduras.jpg">

      <b><h1>Cuidado!</h1></b>
      <p>Se houver o aparecimento de bolhas, não as fure e não use pomadas, pasta de dente, azeite ou outro produto caseiro.</p><br>


      <b><h1>Cortes e arranhões</h1></b>
      <p>Devemos lavar o local com água limpa e sabão, proteger com pano limpo ou gaze.</p>
      <p>Se o ferimento for grande e profundo, deve-se procurar socorro médico. Caso contrário, o curativo poderá ser feito em casa.</p>
          
      <img src="assets/img/corte.jpg">

      <b><h1>Cuidado!</h1></b>
      <p>Se o corte ou arranhão for ocasionado por latas enferrujadas, cacos de vidro sujos de terra e pregos, é preciso procurar um médico. Dessa forma, evita-se o tétano.</p><br>

      <b><h1>Picadas de insetos</h1></b>
      <b><h1>Como agir?</h1></b>
      <p>Olhar o local da picada e, se houver ferrão, retirá-lo. Lavar a área e aplicar compressas de água fria ou gelo.</p>
      <p>Se a vítima sofreu muitas picadas, procurar um hospital ou pronto-socorro para que ela seja atendida adequadamente.</p>
      
      <b><h1>Cuidado!</h1></b>
      <p>Existem pessoas alérgicas que apresentam reações graves quando são picadas por insetos; portanto, elas devem ser levadas a um hospital imediatamente.</p>

      <img src="assets/img/corte.jpg">

      <br><b><h1>Fraturas</h1></b>
      <p>É a ruptura ou quebra de um osso. Podem ser ocasionadas por uma queda ou um choque entre dois corpos.</p>
      <p>Quando uma pessoa sofre algum tipo de fratura, ela deve ser encaminhada a um hospital para receber cuidados médicos.</p>

      <p>O que fazer para socorrer alguém com fratura?</p>
      <ul>
        <li>Quando a fratura for no braço ou na perna, podemos imobilizar o osso quebrado com uma tala ou tipoia. A vítima deve manter-se o mais próximo possível da posição normal até que chegue ao hospital.</li>
        <li>Quando a fratura for na cabeça, coluna ou pescoço, devemos imobilizar a vítima e não removê-la até que chegue a ambulância.</li>
      </ul>

      <img src="assets/img/fraturas.jpg">

      <br><b><h1>Afogamento</h1></b>
      <p>Quando uma pessoa se afoga, ela perde a respiração. Isso acontece porque suas vias aéreas ficam inundadas.</p>
      
      <b><h1>Como agir?</h1></b>
      <ul>
        <li>Colocar a vítima de costas e fazer respiração boca a boca e massagens cardíacas intercaladas.</li>
        <li>Conduzir imediatamente a vítima a um hospital ou pronto-socorro próximo.</li>
      </ul><br>

      <b><h1>Mordida de cachorros e gatos</h1></b>
      <p>A mordida de cachorros e gatos pode ocasionar a raiva, que é uma doença muito perigosa. Ela pode ser evitada por meio da vacina antirrábica, que é aplicada nesses animais.</p>
      
      <b><h1>O que fazer?</h1></b>
      <ul>
        <li>Lavar o local com água e sabão para desinfetá-lo.</li>
        <li>Proteger o ferimento com gaze ou pano limpo e encaminhar a vítima para o hospital ou pronto-socorro mais próximo.</li>
        <li>O animal que causou a mordedura deve ficar em observação para que se verifique se ele está doente.</li>
      </ul><br>

    <b><h1>Choque elétrico</h1></b>
    <b><h1>Como agir?</h1></b>
    <ul>
      <li>Para não sermos atingidos pela descarga elétrica, devemos desligar a chave geral de eletricidade antes de tocar a vítima.</li>
      <li>Afrouxar as roupas da vítima para facilitar a respiração e a circulação sanguínea.</li>
      <li>Caso a vítima não esteja respirando, deve-se iniciar a massagem cardíaca e a respiração boca a boca.</li>
      <li>Procurar imediatamente socorro médico.</li>
    </ul>

    <img src="assets/img/choque.jpg">

    <br><b><h1>Desmaio</h1></b>
    <p>Desmaio é a perda dos sentidos. Pode ser causado por várias razões.</p>

    <b><h1>Como ajudar?</h1></b>
    <ul>
      <li>Deitar a pessoa com as pernas levemente elevadas e afrouxar-lhe as roupas para facilitar a circulação sanguínea e a respiração.</li>
      <li>Se a pessoa vomitar, virá-la de bruços para que o vômito escorra e não congestione os pulmões.</li>
      <li>Colocar panos frios na testa e no rosto do doente, tomando o cuidado de não tapar-lhe o nariz.</li>
      <li>Caso a pessoa continue debilitada, chame socorro médico.</li>
    </ul>

    <b><h1>Cuidado!</h1></b>
    <p>Nunca dê bebidas a uma pessoa desmaiada, pois o líquido pode ir para os pulmões, pelo fato de ela não conseguir engolir.</p><br>

    <b><h1>Picadas de animais peçonhentos: cobra, aranha, escorpião ou lacraia</h1></b>
    <p>Deve-se agir com muita rapidez da seguinte maneira:</p>
    <ul>
      <li>Para que o veneno não se espalhe, deve-se deitar a vítima, impedindo que ela se movimente.</li>
      <li>Procurar um médico imediatamente e, se possível, levar o animal para ser identificado.</li>
    </ul>
      <p>No hospital, a vítima receberá o soro apropriado para combater o veneno do animal que a picou.</p><br>

      <b><h1>Substâncias ou materiais nos olhos</h1></b>
      <p>Quando acontece algum acidente em que há contaminação dos olhos por materiais ou substâncias como álcool, ácidos, água sanitária, poeira, fuligem e areia, deve-se lavar os olhos com água corrente em abundância.</p>
      <p>Nos casos mais graves, encaminhe a vítima ao pronto-socorro mais próximo para que ela receba tratamento.</p>

    </ion-content>