<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/entretenimento" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
          </ion-buttons>
    <ion-title>
        <p style=color:#ffffff >Noticias</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button href="https://www.google.com/search?rlz=1C1GCEA_enBR867BR867&ei=gyOhXZflMobF5OUPivi1oAc&q=tabela+brasileirão&oq=tabe&gs_l=psy-ab.3.0.0i131i67j0i67l4j0j0i131i67j0i67l2j0.10596.11693..14820...0.1..0.150.480.2j2......0....1..gws-wiz.....0..0i71j0i131.SlYKVi55WAA" style="--background:  rgb(117, 14, 14)"> Tabela brasileirão</ion-button>

</ion-content>
