<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/jogos" style="background-color:  rgb(117, 14, 14)">
        <ion-icon name="undo" style=color:#ffffff></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <p style=color:#ffffff>Truques de Mágica</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">

  <h4>10 truques de mágica fáceis e divertidos para as festas.</h4>

  <h1>1. Carta no braço</h1>
  <ion-label>
    Para o primeiro truque, você precisará de duas cartas de baralho, tesoura e cola. Na primeira carta,
    recorte uma seção que se ajuste exatamente ao seu braço. Cole o lado intacto em cima da segunda carta. Cole a parte
    recortada no vão da segunda carta - cole-a com precisão para que você não veja a borda recortada. Finalmente, dobre
    a segunda carta para trás, até a metade.<br>
    <img src="assets/imgjogos/carta.jpg"><br>
    Ao executar o truque, primeiro aproxime as cartas uma da outra para que pareça que há apenas uma. Enquanto você as
    move rapidamente em direção ao seu braço, segure levemente e a segunda carta vai se dobrar para trás - seu braço se
    encaixará perfeitamente no buraco que você cortou, e parecerá que a carta de baralho afundou nele.<br>
  </ion-label><br>
  <img src="assets/imgjogos/esquerda.jpg">
  <br>
  <br>

  <h1>2. O dedo desaparecido</h1>
  <ion-label>
    Pegue um pedaço de feltro da mesma cor da sua blusa, de preferência preto. Faça um corte no feltro. Como
    molde, você pode colocar o polegar e o indicador no tecido - o espaço corresponde ao formato que você precisa.
    Enrole o pedaço cortado e passe-o por um anel. O anel deve ser grande o suficiente para que você possa deslizá-lo,
    juntamente com o feltro, pelo dedo. <br>
    <img src="assets/imgjogos/anel.jpg"><br><br>
    Segurando o anel com o feltro próximos ao seu corpo, enfie o dedo no buraco do tecido. Vai parecer que o dedo
    desapareceu. Dica: fica mais realista com o ambiente à meia luz.<br>
    <img src="assets/imgjogos/anel2.jpg">
    <br>
    <br>
  </ion-label>

  <h1>3. O Jornal rasgado</h1>
  <ion-label>
    Agora vai ficar mais fácil: pegue duas folhas de jornal de mesmo tamanho. Dobre uma o máximo possível e a esconda em
    sua mão esquerda. A outra folha será a apresentada ao público. Rasgue a página em vários pedaços e os amasse
    formando uma bola na mão direita.<br>
    <img src="assets/imgjogos/jornal.jpg"><br>
    Enquanto você faz a bola desaparecer secretamente, desdobre a outra página em frente a sua plateia pasma.<br>
    <img src="assets/imgjogos/jornal2.jpg">
    <br>
    <br>
  </ion-label>

  <h1>4. O copo esfumaçado</h1>
  <ion-label>
    Use um lápis para fazer um canudo de papel alumínio. Enrole alguns fósforos nele.<br>
    <img src="assets/imgjogos/copo.jpg"><br>
    Coloque o canudo de alumínio em um copo e acenda os fósforos. A fumaça resultante será puxada para dentro do copo.
    Colete a fumaça e a utilize em seu benefício, criando um espetáculo.<br>
    <img src="assets/imgjogos/copo2.jpg">
    <br>
  </ion-label>

  <h1>5. Anel suspenso</h1>
  <ion-label>
    Um truque simples que pode ser feito em qualquer lugar. Tudo o que você precisa fazer é cortar um elástico e passar
    pelo anel.<br>
    <img src="assets/imgjogos/linha.jpg"><br>
    Segure firme o elástico. Levante um pouco a mão esquerda e deixe o elástico deslizar cuidadosamente entre os dedos
    da mão direita. Ao puxar o elástico, o anel irá se mover sozinho pela borracha.<br>
    <img src="assets/imgjogos/linha2.jpg"><br>
  </ion-label>
  <br>

  <h1>6. O copo na carta</h1>
  <ion-label>
    É possível equilibrar um copo em uma carta de baralho comum? Claro, tudo que você precisa é de DUAS cartas de
    baralho! Dobre uma carta ao meio e cole-a na parte de trás de outra carta, formando assim um tripé.<br>
    <img src="assets/imgjogos/ccarta.jpg"><br>
    Claro, é melhor que o público esteja sentado um pouco abaixo da altura da mesa para que você possa efetivamente
    criar a ilusão de ótica. Também certifique-se de não desdobrar a carta antes de começar o truque.<Br>
    <img src="assets/imgjogos/ccarta2.jpg"><br>
  </ion-label>
  <br>

  <h1>7. A moeda recuperada</h1>
  <ion-label>
    Pegue uma caixa de fósforo e uma moeda. Insira a moeda entre as bordas das partes interna e externa da caixa.<br>
    <img src="assets/imgjogos/moeda.jpg"><br>
    Se você abrir a caixa, nada estará visível a princípio. Só quando você empurrar a gavetinha e balançar um pouco é
    que a moeda irá se soltar e cair nela.<br>
    <img src="assets/imgjogos/moeda2.jpg"><br>
  </ion-label>
  <br>

  <h1>8. O vinho repartido</h1>
  <ion-label>
    Pingue uma gota de cera quente em um prato e prenda uma vela pequena nela. Acenda a vela e despeje um pouco de vinho
    no prato. Coloque uma taça de vinho sobre a vela.<br>
    <img src="assets/imgjogos/vinho.jpg"><br>
    A chama irá se apagar e o vinho irá misteriosamente ser sugado para dentro da taça. Certamente um jeito diferente de
    servi-lo.<br>
    <img src="assets/imgjogos/vinho2.jpg"><br>
  </ion-label>
  <br>

  <h1>9. A bola de pingue-pongue grudenta</h1>
  <ion-label>
    Coloque uma bola de pingue-pongue na boca de uma garrafa cheia até a borda. Se você você virar a garrafa de uma vez
    só, a bola sofrerá pressão negativa e ficará grudada na abertura.<br>
    <img src="assets/imgjogos/bola.jpg"><br>
    Faça uma aposta com seus amigos: "Eu aposto X reais que esta bola não cai da garrafa!". A física pode ser muito
    divertida (e lucrativa).<br>
    <img src="assets/imgjogos/bola2.jpg"><br>
  </ion-label>
  <br>

  <h1>10. A lata obediente</h1>
  <ion-label>
    Agora o último truque, que também conta com a ajuda da física: esfregue um pano de microfibra em um tubo de plástico
    várias vezes. Segure o tubo próximo a uma lata deitada, sem tocá-la.<br>
    <img src="assets/imgjogos/lata.jpg"><br>
    Você logo vai notar que a lata será atraída para o cano. O tubo está carregado de eletrostática, causada pela
    fricção, e atrai a lata.<br>
    <img src="assets/imgjogos/lata2.jpg"><br>
  </ion-label>
  <br>





</ion-content>