<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-button href="/home" style="background-color:  rgb(117, 14, 14)">
          <ion-icon name="undo" style=color:#ffffff></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
     <p style=color:#ffffff text-center>Benefícios da corrida</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding ion-text-justify">

  <b><h1>Tipos de corrida: modalidades diferentes para cada perfil</h1></b>
  <p>O corpo humano foi feito para se movimentar, isso é fato. E um dos esportes mais simples do mundo é a corrida, pois basta um tênis no pé e força de vontade para praticar. No entanto, assim como muitos outros esportes, a corrida também se divide em algumas modalidades, tipos de corrida por assim dizer, como a Corrida de Pista, a Corrida de Rua, a Corrida Cross Country, a Corrida de Montanha e a Corrida Trail.</p>
  <p>Para saber mais sobre os tipos de corrida e cuidados necessários para praticá-la de maneira confortável e segura, conversamos com o diretor da Naventura Outdoor Experiences, Kleber Ricardo Pacheco.</p><br>

  <b><h1>Quais são os tipos de corrida</h1></b><br>

  <b><h1>Corrida de Pista</h1></b>
  <p>A competição de atletismo mais tradicional que existe é a corrida de pista. Essa modalidade envolve várias provas, como a corridas de pista ovais, as corridas de meio fundo, as corridas de fundo e as corridas com obstáculos.</p>
  <ul>
    <li>Corrida de Pistas Ovais – O atleta corre em uma faixa que pode ser de 100, 200 ou 400 metros.</li>
    <li>Corridas de Meio Fundo – Com distâncias de 800 e 1.500 metros, onde os atletas não precisam ficar na sua respectiva raia.</li>
    <li>Corridas de Fundo – São realizadas dentro da pista, com distâncias de 5 e 10 mil metros.</li>
    <li>Corridas com Obstáculos/Barreiras – As provas acontecem dentro de estádios, com barreiras que o atleta deve saltar. Ela é divida em quatro modalidades: 100 metros feminino, 110 metros masculino, 400 metros masculino e feminino, e 3 mil metros feminino e masculino.</li>
  </ul>

  <img src="assets/img/corrida.jpg">

  <br><b><h1>Corrida de Rua</h1></b>
  <p>Esse tipo de corrida é realizado nas vias urbanas pavimentadas e planas. É a modalidade mais popular no Brasil e um dos tipos de corrida mais praticados no mundo, segundo Kleber. As distâncias mais comuns são 5km, 10km, 21km e 42km. As de 42km, distância clássica do atletismo, são as chamadas maratonas.</p>
  <p>“As corridas de rua podem ser frequentadas por todos os públicos, desde iniciantes até os atletas profissionais. Para quem está iniciando nessa prática, as corridas de 5km são as mais indicadas”, comenta.</p><br>

  <b><h1>Corrida Cross Country</h1></b>
  <p>Os percursos são feitos em gramados, podendo ou não ter obstáculos naturais. Nas competições oficiais, as distâncias são de 12 km na categoria adulto masculino, 8km nas categorias adulto feminino e juvenil masculino, 6km na categoria juvenil feminino e 4km nas categorias adulto masculino e feminino prova curta. As corridas cross country geralmente são pouco praticadas pelo público, mas são muito indicadas para os treinos de fortalecimento.</p><br>

  <b><h1>Corrida em Montanha</h1></b>
  <p>O que caracteriza a corrida de montanha é o percurso, cheio de subidas e descidas, com ou sem obstáculos naturais. Para ser considerado corrida de montanha, o percurso deve ter um mínimo de altimetria acumulada, que é a soma de subidas e descidas, tendo como base o nível do mar, variando de acordo com a distância.</p>

  <img src="assets/img/montanha.jpg">
  <sub>Corrida de montanha é mais indicada para atletas experientes e com bom preparo físico</sub>
  <p>De acordo com Kleber, no Brasil, as distâncias oficiais são 12km na categoria adulto masculino, 8km na categoria adulto feminino e juvenil masculino e 4km na categoria juvenil feminino. Devido ao grau de dificuldade desse tipo de corrida, ela é mais indicada para atletas experientes e com bom preparo físico.</p>

  <b><h1>Corrida Trail</h1></b>
  <p>É caracterizada pelo intenso contato com a natureza, pois acontece em trilhas, bosques, florestas e praias, com obstáculos naturais, como travessias de rios. As distâncias variam entre 5km e 100km e podem ser praticadas por todos os públicos.</p>
  <p>“A dica para quem pretende fazer uma prova trail é realizar alguns treinos específicos para desenvolver propriocepção, que é a capacidade de reconhecer a localização espacial do corpo permitindo principalmente o equilíbrio postural”, aconselha o diretor da Naventura.</p><br>

  <b><h1>8 Benefícios dos diferentes tipos de corrida</h1></b>
  <p><strong>1. Acelera o metabolismo:</strong> com a produção e secreção de hormônios tireoidianos (T3 e T4), que controlam o metabolismo energético.</p>
  <p><strong>2. Reduz a gordura corporal:</strong> consome a gordura como fonte de energia.</p>
  <p><strong>3. Melhora a qualidade do sono:</strong> sendo reconhecida pela American Sleep Disorders Association como uma intervenção não farmacológica.</p>
  <p><strong>4. Fortalece os ossos e os músculos:</strong> graças ao impacto e ao movimento do corpo no solo.</p>
  <p><strong>5. Diminui o estresse e a ansiedade:</strong> por liberar endorfina, um hormônio que promove sensação de bem-estar.</p>
  <p><strong>6. Reduz o risco de mortalidade:</strong> segundo a pesquisa Leisure-Time Running Reduces All-Cause and Cardiovascular Mortality Risk, realizada pela Universidade do Estado de Iowa (EUA).</p>
  <p><strong>7. Previne contra doenças cardíacas:</strong>aumentando o tamanho do coração, de artérias e hemácias.</p>
  <p><strong>8. Espanta o mau-humor:</strong> por aumentar os níveis de dopamina, um neurotransmissor que fornece sensação de prazer.</p><br>

  <b><h1>Cuidados com os tipos de corridas</h1></b>
  <p>Para quem quer começar a correr, Kleber reforça que o primeiro passo é procurar um médico para realizar uma avaliação e alguns exames específicos antes de iniciar. “O acompanhamento de um técnico de corrida é indicado e, para aqueles que estão acima do peso, recomendamos a orientação de um profissional de nutrição”, explica.</p>
  <p>Além disso, alguns cuidados antes, durante e depois da corrida também são essenciais para evitar lesões e desidratação. O diretor da Naventura alerta para a necessidade do aquecimento, o desaquecimento, o alongamento e também sobre a importância de uma boa hidratação. Esta última, inclusive, ele aconselha começar dias antes da corrida.</p>
  <p>“A hidratação é muito importante antes, durante e depois das corridas. Diferentemente do que a maioria dos corredores pensa, a hidratação deve ter início dias antes das corridas, principalmente em provas longas e em temperaturas altas, onde se perdem muitos sais minerais através da transpiração”, reforça.</p><br>

  <b><h1>Antes da corrida</h1></b>
  <p>Antes de iniciar qualquer atividade física, é importante aquecer o corpo a fim de evitar lesões. “O aquecimento antes da corrida é importante para oxigenar os músculos através do aumento do volume sanguíneo e irrigação de líquido sinusial nas articulações” explica Kleber.</p>
  
  <img src="assets/img/pé.jpg">

  <b><h1>Depois da corrida</h1></b>
  <p>Após o término de uma corrida, o ideal é desacelerar e alongar os músculos para evitar contusões. “O desaquecimento é importante para diminuir a temperatura corporal, restabelecer a frequência cardíaca e a pressão arterial, auxiliando o processo de recuperação e diminuindo as dores musculares,” comenta.</p>
  <p>“Já no alongamento, a intenção é devolver à musculatura o seu tamanho normal, além de melhorar a postura, a circulação local e prevenir lesões,” salienta.</p><br>

  <b><h1>Roupas e acessórios para quaisquer tipos de corrida</h1></b>
  <p>Para que a prática da corrida seja confortável, as roupas, os calçados e os acessórios devem ser indicados para a prática, permitindo a realização dos movimentos necessários com segurança. Roupas leves e confortáveis, como shorts, calções e camisetas são indispensáveis. Além disso, não dá para se esquecer do protetor solar, boné ou viseira, e óculos para os dias de sol. Já em épocas mais frias, o ideal é preferir calças de corrida, camisetas de manga longa, gorros e luvas.</p>
  <p>“Em provas longas é importante o uso de gel antiatrito em determinadas regiões do corpo, evitando lesões devido ao atrito constante das roupas e tênis”, alerta.</p>
  
</ion-content>
