<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/tecnologia" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>
        <p style=color:#ffffff text-center>Manutenções Domésticas </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">

    <b><h1>Trocando a lâmpada</h1></b><br>

   <ion-label> 

     Como se trata de uma operação que envolve eletricidade, é importante eliminar o risco de choque elétrico. Desligue o disjuntor daquele ambiente da casa no quadro de eletricidade – caso não saiba qual é o disjuntor de cada cômodo, basta testar um por um, desligando e ligando, até cortar a energia do lugar certo.<br><br>
    Segurando na parte de vidro da lâmpada, gire-a no sentido anti-horário para soltá-la da base. Na sequência, segure a lâmpada nova também pelo bulbo e rosqueie na base, no sentido horário. Religue o disjuntor e faça um teste, acendendo a luz do ambiente.<br><br>
    É importante assegurar-se de trocar a lâmpada velha por uma com a mesma voltagem (ela pode ser 110v ou 220v). A lâmpada velha deve ser devidamente descartada.
  </ion-label>
<br>
<br>
<br>

  <ion-label>

    <b><h1>Pintando uma parede</h1></b><br>

    Alguns materiais são necessários. Antes de começar, providencie um rolo de lã sintética ou de carneiro, recipiente para tinta, pincel, fita crepe, jornal ou papelão para proteger o piso. Escolha uma tinta à base de água na cor de sua preferência. Despeje um pouco no recipiente para tinta e “tempere” de acordo com as instruções da embalagem (normalmente o fabricante pede que a tinta seja diluída em água antes da aplicação; a esse processo chamamos “temperar a tinta”).<br><br>
    Em seguida, use a fita crepe para proteger lugares que você não quer pintar, como o rodapé, o batente da porta e o quadro da janela, por exemplo. Mergulhe o rolo na tinta, retirando o excesso no próprio recipiente; depois aplique a tinta na parede (que deve estar limpa), servindo-se de tinta sempre que necessário. Utilize o pincel para pintar os cantos próximos à fita crepe ou que o rolo não alcance.<br><br>

  </ion-label>
<br>
<br>


<ion-label>

    <b><h1>Desentupindo a pia</h1></b><br>

    Pequenos entupimentos podem ser driblado com um desentupidor. Lembre-se de usá-lo com a pia contendo água. Se, por outro lado, o caso parecer crítico, há duas soluções. Na mais básica, jogue no ralo uma xícara de sal, uma de bicarbonato de sódio e água fervente. Na mais drástica, desatarraxe o sifão (ele fica embaixo da pia e estará rosqueado no ralo), e jogue a sujeira acumulada nele fora – cuidado para não fazer muita bagunça; lembre-se que o que está ali é uma mistura de água com restos de alimento e a visão pode não ser nada agradável. Depois, atarraxe novamente o sifão.<br><br>

  </ion-label>
<br>
<br>


<ion-label>

    <b><h1>Trocando a resistência do chuveiro</h1></b><br>

    Mais uma vez, assegure-se de desligar o disjuntor do banheiro antes de começar a mexer nele. O risco de choque, nesse caso, é alto, caso você não tome essa precaução. Retire a parte de baixo do chuveiro e, em seguida, a resistência que está queimada. Seguindo as instruções da embalagem, instale a resistência nova, recolocando a parte de baixo do chuveiro no lugar e rosqueando bem, para evitar vazamentos. Antes de religar a energia, abra o registro e deixe correr água fria pelo chuveiro – esse procedimento impede que a nova resistência queime. Religue o disjuntor e utilize o chuveiro normalmente.<br><br>

  </ion-label>
  <br>
  <br>

  <ion-label>

      <b><h1>Consertando a descarga</h1></b><br>
  
      Quando a descarga dispara, pode ser um problema na mola que fica dentro da válvula. A válvula é aquele “botão” que você aperta para dar a descarga. Abra a tampa e, usando uma chave de fenda, retire a parte externa, que contém a mola. O novo conjunto deve ser especificamente da mesma marca da sua descarga. Instale-o e parafuse novamente, com a ajuda da chave de fenda. Feche a tampa da válvula.<br><br>
  
    </ion-label>
    <br>

    <ion-label>

        <b><h1>Pendurando quadros e prateleiras</h1></b><br>

        <img src="assets/imgmanutencao/quadro.jpg"><br><br>
    
        As principais dificuldades, na hora de pendurar quadros e prateleiras, é mantê-los completamente retos e firmes na parede. Você vai precisar de uma furadeira, brocas, buchas e parafusos – todos os itens podem ser comprados em lojas de materiais de construção -, chave de fenda, martelo e fita crepe.<br><br>

        No caso de quadros grandes ou prateleiras pesadas, que precisam de mais que um parafuso, certifique-se de que todos eles estejam completamente alinhados. Você pode fazer isso usando uma fita métrica, um metro ou uma trena para marcar a partir do teto o local onde os parafusos vão ficar. Depois de marcar, proteja a área com um pedaço de fita crepe, isso evita que a tinta descasque.<br><br>
        
        Posicione a furadeira no local em que deseja fazer o furo, em um ângulo reto. Depois de furar, encaixe a bucha no buraco feito – se necessário, use o martelo para que ela entre completamente. Por fim, coloque o parafuso na bucha com a ajuda da chave de fenda.<br><br>
        
        Se você quiser pendurar um quadro pequeno, como um porta-retratos, por exemplo, não precisa de furadeira, broca ou parafuso, basta marcar o local do furo e usar um prego e um martelo.<br><br>
    
      </ion-label>
      <br>
      <br>

      <ion-label>

          <b><h1>Consertando rachaduras</h1></b><br>
  
          Rachaduras são normais e costumam aparecer nos mais diversos lugares da casa, mas é preciso certificar-se de que a rachadura que você encontrou não compromete a estrutura da construção. Bata levemente com o punho fechado no local – se o som for “oco”, é melhor chamar um especialista. Do contrário, um pouco de massa corrida deve resolver o problema.<br><br>

          Caso a tinta tenha “descolado” da parede, como uma bolha cuja casca se desprendeu, o melhor é terminar de descasca-la com a ajuda de uma espátula. Se esse não for o caso, basta descascar em retângulo em torno da rachadura original. Cubra a falha com massa corrida e uma tela de náilon sintética – você encontra esse produto em lojas de materiais de construção. Sobre a tela, passe mais uma camada de massa corrida. Espere secar e lixe até deixar a superfície completamente lisa.<br><br>
        </ion-label>
        <br>
        <br>
    
        <ion-label>

            <b><h1>Instalando lustres e luminárias</h1></b><br>
    
            <img src="assets/imgmanutencao/lustres.jpg"><br><br>
        
            É importante desligar a energia do cômodo no qual você deseja instalar o lustre ou luminária. Choques elétricos são perigosos e podem mesmo ser fatais, portanto certifique-se de haver desligado a chave geral ou o disjuntor do ambiente.<br><br>

            Na saída de energia do teto ou da parede haverá dois fios de eletricidade. Você deve conectá-los aos fios da luminária ou do lustre – se eles estiverem encapados, use um estilete para desencapar a pontinha de ambos. Para ligar os fios, basta coloca-los lado a lado e torcer com um alicate, cobrindo a junção com bastante fita isolante.<br><br>
            
            Encaixe o prendedor do lustre nos buraquinhos dos parafusos que já estão na saída de energia do teto. Fixe o lustre no teto com os parafusos e a ajuda de uma chave de fenda.<br><br>
          </ion-label>
          <br>
          <br>

          <ion-label>

              <b><h1>Encontrando vazamentos</h1></b><br>
      
              Muitas vezes é difícil perceber se há vazamentos em casa e você pode acabar se dando conta só quando tiver os cômodos inundados. Se desconfiar que um encanamento está vazando, uma maneira fácil de confirmar a suspeita é observando o hidrômetro. Depois de fechar muito bem todas as torneiras da casa, marque o número registrado nele e permaneça uma hora sem usar as torneiras, o chuveiro ou mesmo o vaso sanitário. Volte a verificar o hidrômetro para ver se ele continua com o mesmo número no registro – como seria normal – ou se esse número aumentou – o que indica um vazamento<br>
                     
            </ion-label>
            <br>
            <br>

            <ion-label>

                <b><h1>Consertando a torneira</h1></b><br>
        
                Você vai precisar de um alicate, uma chave de fenda, uma chave inglesa, um grifo, e um vedante de torneira novo – também conhecido como courinho. Feche o registro de água e desatarraxe o pino de cima da torneira com o alicate. Retire-o e deixe-o separado. Retire, com a chave de fenda, o parafuso interno da torneira, que fica embaixo desse pino. Solte a parte de cima da torneira com a chave inglesa.<br><br>

                Em seguida, retire o vedante velho e substitua-o por um novo, encaixando cada peça de volta em seu lugar. Se, ao retirar a parte de cima da torneira, você observar que o vedante está firme, será preciso trocar a torneira. Nesse caso, vale seguir as orientações do fabricante.<br><br>
                       
              </ion-label>
              <br>
              <br> 
  
              <ion-label>

                  <b><h1>Corrigindo imperfeições da parede</h1></b><br>
          
                  Você vai precisar de massa corrida – compra-se pronta em lojas de tinta ou de materiais de construção -, desempenadeira, espátula, lixa de parede e espanador de pó. Esse tipo de conserto serve para cobrir buracos ou rachaduras na parede. Esse trabalho costuma gerar muito pó branco, portanto convém cobrir os móveis com lençóis velhos e o chão com jornal ou papelão.<br><br>

                  Comece usando a espátula para colocar um pouco da massa corrida na desempenadeira. Em seguida, passe a desempenadeira na parede, de modo a espalhar a massa corrida na superfície desejada. Procure colocar um pouco de pressão na desempenadeira para que a superfície fique o mais lisa possível. Deixe secar por aproximadamente cinco horas e lixe a superfície com força, para deixar a parede totalmente lisa. Por fim, use o espanador para retirar todo o pó gerado pela lixa.<br><br>
                         
                </ion-label>
                <br>
                <br> 
    
                <ion-label>

                    <b><h1>Vedando a janela</h1></b><br>
            
                   
                    Se você sofre com vazamentos de água da chuva pela janela, precisa primeiro descobrir por qual ponto ela está entrando. Quando o ponto estiver completamente seco, use uma pistola própria para aplicar silicone industrial, vedando o furo.<br><br>
                  </ion-label>
                  <br>
                  <br> 

                  <ion-label>

                      <b><h1>Trocando o interruptor</h1></b><br>
              
                      Antes de trocar o interruptor, certifique-se de que não se trata apenas de mau contato. Para isso, desligue a energia do ambiente em questão e retire a capinha protetora do interruptor. Desconecte os fios e conecte-os novamente, cobrindo a emenda com fita isolante. Coloque a tampa de volta e religue a energia.<br><br>

                      Se o procedimento não funcionar, retire novamente a tampa e gire o interruptor para ter acesso aos fios que estão conectados na parte de trás. Desconecte esses fios e substitua o interruptor velho, por um novo, religando os fios com a ajuda de uma chave Philips. Recoloque o interruptor no lugar e, por fim, também a tampa. Religue a energia e teste o interruptor novo.<br><br>
                     
                    </ion-label>
                    <br>
                    <br> 

  </ion-content>
