<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/limpeza" style="background-color:  rgb(117, 14, 14)"> 
            <ion-icon name="undo" style="color:#ffffff"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>
        <p style=color:#ffffff text-center>Banheiro</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">

  <b><h4>No banheiro</h4></b>

  <img src="assets/imglimpeza/torneira.jpg">

    <p>1. Se livre do acúmulo de sujeira da torneira ou registro de chuveiro com o auxílio de um limão. Basta esfrega-lo ao redor do mesmo que a sujeira sairá facilmente.</p>
    <p>2. Limpe o rejunte dos azulejos com uma mistura de água com bicarbonato de sódio, fazendo uma pasta e aplicando-a com a ajuda de uma escova de dentes antiga.</p>
    <p>3. Se livre do acúmulo de sujeira da torneira ou registro de chuveiro com o auxílio de um limão. Basta esfrega-lo ao redor do mesmo que a sujeira sairá facilmente.</p>
    <p>4. Limpe o rejunte dos azulejos com uma mistura de água com bicarbonato de sódio, fazendo uma pasta e aplicando-a com a ajuda de uma escova de dentes antiga.</p>
    <p>5. “Para fazer a desinfecção dos banheiros e cozinha e pias, depois de lavar o chão a as bancadas como de costume, prepare uma solução de água sanitária, a água na proporção de um litro, para duas colheres de sopa de água sanitária, aplique e deixe agir por 15 minutos”, indica a personal organizer.</p>
    <p>6. Para evitar manchas de água no box, aplique uma fina camada de cera para carros em toda a sua extensão e deixe-o secar por alguns minutos. O papel da cera é isolar o vidro da água, evitando as manchas.</p>
    <p>7. Limpe a parte externa do vaso sanitário com água quente, bicarbonato de sódio e um pano macio. Esta mistura ajudará a eliminar odores e bactérias desta região, deixando-o mais limpo.</p>
    <p>8. Para a parte interna do vaso, o ideal é utilizar água sanitária e utilizando uma bucha limpar as laterais do mesmo. Para enxaguar basta dar descarga. Lembre-se de utilizar luvas descartáveis para realizar este procedimento.</p>
    
</ion-content>
