<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/musicas" style="background-color:  rgb(117, 14, 14)">
        <ion-icon name="undo" style=color:#ffffff></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <p style=color:#ffffff>Pagodes e Sambas</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">

  <h1>Playlist de Pagode e Samba:</h1><br>
  <ion-label>
    <h3>Melhores Músicas de Samba e Pagode de Todos os Tempos</h3>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/4uQi5XvGI1M" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-label>

</ion-content>