<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button href="/home" style="background-color:  rgb(117, 14, 14)">
              <ion-icon name="undo" style=color:#ffffff></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title>
          <p style=color:#ffffff text-center> Doces Fitness </p>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding ion-text-justify">
  
      <p style=color:#ffffff> Bolo de laranja FIT:</p>
      <ion-badge style="background: #5f010180">
        <iframe width="400" height="215" src="https://www.youtube.com/embed/Bz_s6qLHd5w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>Ingredientes:</h4>
  
     <p>- 2 laranjas descascadas e picadas;</p>
     <p>- 1 clara + 2 ovos inteiros;</p>
     <p>- 1 xícara de açúcar demerara;</p>
     <p>- 100g de manteiga (preferencialmente ghee);</p>
     <p>- 1 xícara de farinha de trigo integral;</p>
     <p>- 1 xícara de farinha de aveia;</p>
     <p>- 1 colher de sopa de fermento em pó.</p>
    </ion-badge>
    <br>
    <br>
    <br>
  
    <p style=color:#ffffff> Bolo de aveia com banana( sem farinha, sem açúcar e sem leite):</p>
    <ion-badge style="background: #5f010180">
    <iframe width="400" height="215" src="https://www.youtube.com/embed/7wJ0no6jIZ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>Ingredientes:</h4>
  
   <p> 4 Bananas Nanicas Maduras</p>
   <p>1x Aveia em Flocos Finos</p>
   <p>1c (sopa) Fermento em Pó</p>
   <p>2 Ovos</p>
   <p>Canela em Pó à Gosto (opcional)</p>
   <p>Rodelas de Banana para Decorar</p>
   <p>Manteiga para Untar</p>
  
   Tempo de Forno 30min 
  180º Pré Aquecido
  </ion-badge>
  </ion-content>
  