<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-button href="/home" style="background-color:  rgb(117, 14, 14)">
          <ion-icon name="undo" style=color:#ffffff></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
     <p style=color:#ffffff text-center>Atividades Físicas</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding ion-text-justify">

  <b><h1>Os benefícios da prática de atividade física regular</h1></b>
  <p>Que praticar exercícios físicos pode trazer diversos benefícios para a saúde e melhorar consideravelmente o bom funcionamento do organismo, isso todo mundo sabe, não é mesmo? Contudo, os benefícios das atividades físicas só são tangíveis e realmente percebidos no dia a dia quando levamos a prática à sério, garantindo uma frequência semanal regular.</p>
  <p>Segundo o educador físico Felipe Cruz, a prática de atividade física não pode ser encarada com um hobby e, sim como um hábito constante. “Assim como nos alimentamos, bebemos água e escovamos os dentes todos os dias, devemos fazer da atividade física algo regular para que os benefícios sejam efetivos”, diz Felipe.</p><br>

  <b><h1>Benefícios da atividade física regular</h1></b>
  <ul>
    <li>Melhora nossas estruturas ósseas e musculares</li>
    <li>Reduz a pressão arterial</li>
    <li>Combate o stress (e todos os hormônios ruins ligados a ele)</li>
    <li>Alivia tensão muscular</li>
    <li>Proporciona bem estar psicológico, por nos afastar dos problemas cotidianos</li>
    <li>Age contra doenças como osteoporose, diabetes, risco de infarto</li>
    <li>Aumenta a autoestima</li>
    <li>Melhora a postura</li>
    <li>Aumenta a imunidade</li>
    <li>Age contra a obesidade</li>
    <li>Melhora dores</li>
  </ul><br>


  <b><h1>Prática regular x prática eventual</h1></b>
  <p>A diferença principal entre a prática regular de atividade física e a eventual está no processo de adaptação do corpo após iniciar uma atividade física regular. Por isso, quando praticamos atividade física eventualmente corremos o risco de acabar prejudicando o corpo.</p>
  <p>“Quando iniciamos uma atividade física, e ela passa a fazer parte da nossa rotina diária, o corpo tende a se adaptar ao esforço físico e, como consequência, traz todos os benefícios citados anteriormente. Já quando fazemos uma atividade física eventual, a cada atividade física, o corpo tende a sofrer mais com dores, inflamações e, até mesmo, com lesões, pois ele entende com uma certa estranheza essa movimentação “fora do normal”, explica Felipe.</p><br>

  <b><h1>Sedentário X Ativo</h1></b>
  <p>O sedentarismo é definido como a falta de atividade física e inúmeros fatores podem gerá-lo, mas, segundo o educador físico Felipe Cruz, o motivo principal são as reponsabilidades diárias que consomem a maior parte do nosso tempo.</p>
  <p>“Como consequência, gera um cansaço que não nos motiva a fazer nenhum tipo de atividade física. Porém, caso você deseje mudar sua situação, o que deve ser feito é procurar a orientação de um profissional para que possa te auxiliar na atividade física escolhida e, preferencialmente, consultar um médico para saber se não existe nenhum tipo de restrição em relação à sua saúde”, afirma.</p><br>

  <b><h1>O verão pede mais prática de atividade física!</h1></b>
  <p>Com a chegada do verão, cresce o interesse das pessoas em praticar uma atividade física. Entre os principais motivos estão: o calor, que não dá vontade de ficar em casa; e a oportunidade de mostrar mais o corpo.</p>
  <p>Por isso, o educador físico sugere a prática de atividades físicas ao ar livre, que são favorecidas pela estação. “Assim, é possível curtir lugares diferentes, respirar um ar mais puro, e o melhor: ter contato com o sol, usufruindo de toda a vitamina D que podemos absorver”, complementa Felipe.</p>
  <p>Para treinar no verão, lembre-se de praticar atividade física nos horários em que a emissão de raios UV está mais amena: pela manhã, das 6 às 10 e, à tarde, das 16 às 20hs. Além disso, independente da estação ou da atividade física escolhida, não deixe de fazer exercícios físicos regulares, pois, com toda certeza, conquistará mais saúde e vitalidade.</p><br>

  <b><h1>Cuidados com exercícios</h1></b>
  <ul>
    <li>Hidrate-se bem e prefira a água! A hidratação antes, durante e depois da atividade física melhora a performance, evita cãibras e ajuda no controle da pressão arterial. Redobre os cuidados no verão, pois transpiramos muito mais!</li>
    <li>Alimente-se antes do seu treino. Escolha boas fontes de carboidratos (batata doce, mandioca, pão integral, macarrão integral, cereais integrais, como o arroz integral) para que não lhe falte energia, e uma boa fonte de proteína.</li>
    <li>Evite frituras ou refeições que contenham muitas gorduras (carnes gordas, leite e ou seus derivados integrais) antes de se exercitar. Isso porque, a gordura retarda o processo de digestão, podendo prejudicar seu desempenho.</li>
    <li>A alimentação depois do treino deve ser adequada ao seu objetivo, uma boa estratégia nutricional pode fazer toda a diferença. Portanto, nada de ficar horas sem comer depois de treinar!</li>
  </ul>





</ion-content>
