<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/tecnologia"  style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
      </ion-buttons>      
    <ion-title>
    <p style=color:#ffffff text-center>5 Reparos Essenciais</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
  <b><h1>5 reparos essenciais para a manutenção de uma casa</h1></b>
  <p>Para que uma residência seja, de fato, um lar agradável, aconchegante e seguro, é preciso que ela esteja com boa aparência e em plena funcionalidade. Por isso, realizar a manutenção de casa é extremamente importante. Afinal, só assim você garante a segurança e o bem-estar de todos os moradores.</p><br>

  <img src="assets/img/manutencao.jpg">

  <b><h1>1. Pinturas das paredes </h1></b>
  <p>A boa aparência das paredes é o principal fator estético do interior de um ambiente. Portanto, uma pintura de qualidade e sua limpeza são essenciais, se tratando da manutenção de casa.</p>
  <p>O primeiro passo para isso é adquirir os materiais necessários. Pode-se pensar em lixas para limpar a superfície, pincéis para fazer a pintura nos cantos, jornais ou sacos para cobrir o chão, fita adesiva para cobrir maçanetas e tomadas, rolos, recipiente para misturar a tinta e, claro, a tinta em si.</p>
  <p>Sobre a cor, lembre-se sempre de considerar, além do seu gosto pessoal, alguns critérios práticos. Por exemplo, saiba que paredes brancas aproveitam melhor a iluminação natural, diminuindo seu gasto com energia elétrica. Já as cores claras, como azul bebê e lilás nos quartos ajudam a induzir o sono.</p><br>
  
  <b><h1>2. Reparos elétricos</h1></b>
  <p>Nesse ponto é preciso considerar se você tem capacitação para realizar o trabalho, pois ele pode apresentar alguns riscos. Porém, alguns trabalhos básicos, como a troca de lâmpadas e do chuveiro, podem ser feitos por qualquer pessoa, desde que se tome alguns cuidados, como desligar o disjuntor antes de iniciá-lo.</p>
  <p>É importante, nesses casos, possuir ferramentas, como chave de fenda e alicates, escada, além de fita isolante. Caso o trabalho ofereça perigo, o melhor a se fazer é contratar um profissional.</p><br>

  <b><h1>3. Conserto de vazamentos</h1></b>
  <p>Um problema comum, que reflete diretamente no bolso dos moradores, é vazamento de água, que aumenta consideravelmente a conta no fim do mês. Para resolver essa situação, é preciso primeiro saber diagnosticá-la. O principal sintoma é o aumento dos valores, sem aparente aumento de gasto.</p>
  <p>Após isso, verifique onde está o defeito, sabendo que geralmente são torneiras ou vaso sanitário. Comumente a falha se encontra em válvulas ou em borrachinhas, que podem ser facilmente trocadas ou apertadas. Um material muito usado para evitar vazamentos é a veda rosca, podendo ser usado nas mais diversas tubulações hidráulicas.</p><br>

  <b><h1>4. Jardinagem</h1></b>
  <p>O tamanho do jardim vai interferir no cuidado que será dado a ele. Mas, em geral, é importante regá-lo e apará-lo, seja com uma cortadora de grama ou com aparador elétrico. Lembre-se também de usar inseticidas, para evitar que pragas estraguem esse ambiente.</p><br>

  <b><h1>5. Desentupimento de pias</h1></b>
  <p>Pias entupidas dão dores de cabeça, devido à aparência e ao odor, porém são facilmente resolvidas. Para isso, basta desenroscar o sifão, retirar o que está bloqueando o fluxo de água, lavá-lo com escova e colocá-lo de volta.</p><br>

  <p>Saber como fazer a manutenção de casa traz muita comodidade e, para realizá-la de maneira satisfatória, é preciso ter os equipamentos necessários. Caso esteja fora do orçamento adquirir as ferramentas, a melhor opção é alugá-las, pois assim você paga apenas pelo tempo que usar, garantindo um trabalho bem-feito e com o menor gasto possível.</p>
</ion-content>
