<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/tecnologia" style="background-color:  rgb(117, 14, 14)">
        <ion-icon name="undo" style=color:#ffffff></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <p style=color:#ffffff text-center> Manutenção de Carros</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
  <b>
    <h1>Pequenos reparos e consertos do carro que você mesmo pode fazer</h1>
  </b>

  <ul>
    <li>
      Faróis e lanternas: as vezes, por falta de sorte, pode ocorrer uma pequena colisão ou alguma pedra bater no
      farol que acaba se quebrando. Este é um exemplo que não é preciso ir até uma oficina. Basta comparecer em uma loja
      especializada ou mesmo pela internet, comprar o item correspondente para substituir. Não demanda tempo e você
      economiza dinheiro, pois a troca é simples: basta desparafusar a proteção e fazer a substituição.
    </li>
  </ul><br>

  <ul>
    <li>
      Paralamas: Isso mesmo, trocar o seu paralamas! Calma, dá um pouco mais de trabalho, mas o esforço compensa
      financeiramente! E é possível sim, você mesmo fazer! Não requer prática, tão pouco habilidade, porque tudo envolve
      parafuso, contudo, requer muita força! Para que as peças possam ser colocadas é preciso tirar o parachoques do
      carro antes. E dependendo do modelo do veículo é preciso remover outros acessórios que estejam no caminho.
      Paciência e um bom esforço andam juntos nesta tarefa!
    </li>
  </ul><br>

  <ul>
    <li>
      Parabrisas: os limpadores de parabrisas são feitos de borracha, isso significa que eles desgastam naturalmente
      após alguns meses de uso. Você pode levar o carro a um mecânico para trocá-los, certo?! Mas este item é outra
      simples tarefa que você mesmo pode fazer facilmente! Felizmente, o processo de instalação é idêntico para a
      maioria dos carros.

      Para isso basta comprar a borracha para substituir, afastar a vareta do vidro e salvar as travas e parafusos.
      Coloque a borracha nova no lugar e prenda fazendo o procedimento inverso que fez na hora de soltar. Depois ligue o
      parabrisas para verificar se eles estão alinhados. Não leva mais do que alguns minutos!
    </li>
  </ul><br>

  <ul>
    <li>
      Remover pequenos arranhões: essa é uma boa dica, porém bem específica, pois vale somente para arranhões
      superficiais em veículos usados. É preciso cuidado nesta tarefa. Antes de fazer uma tentativa de reparar um
      arranhão na pintura do carro, você precisa ter tempo para inspecionar cada arranhão com cuidado. Faça isto em uma
      área bem iluminada e, se necessário, use uma lupa para obter um detalhe mais atento. Entenda que, o que você está
      procurando realmente é a profundidade do risco. Muitos arranhões superficiais passam pela cobertura da pintura
      levemente, e estes são os tipos de riscos que você pode facilmente limpar em casa. Mas se, na zona afetada, você
      visualizar algo além da pintura, como um revestimento branco, o melhor é ir mesmo ao mecânico.

      Se esse não for o seu caso, pode recorrer a produtos específicos de polimento, disponíveis nas lojas de produtos
      automotivos. Há quem faça uso de lixa também quando o risco é pequeno, mas vale lembrar que essa deve ser 2000 ou
      superior. Lixas grossas podem danificar ainda mais o que já está estragado. Muita atenção!
    </li>
  </ul><br>

  <ul>
    <li>
      Antena quebrada: pois é, ela pode quebrar! Não importa o tipo de antena, por menor que seja a antena externa do
      veículo, isso pode acontecer. E o risco é maior, caso for aquelas antenas de ferro e enormes…

      Bom, substitui-la é fácil e leva cerca de 30 minutos. Basta afrouxar os parafusos e retirar a antena velha. Depois
      conecte a nova e pronto. Observe bem e garanta que a antena nova esteja bem fixada para que não quebre novamente
      com qualquer impacto.
    </li>
  </ul><br>

  <ul>
    <li>
      Polir faróis: polir os faróis do carro é um processo simples, fácil, barato e melhora a sua visibilidade na
      estrada. Com o passar do tempo os faróis do carro começam a ficar cada vez mais sujos e/ou danificados, e isto não
      só tem mau aspeto, como também faz com que sejam menos eficientes. Polir os faróis torna-se uma questão de
      segurança! E vamos combinar que faróis embaçados ou até mesmo ressecados deixam o visual dos veículos usados (no
      caso) muito menos agradável. Se o desgaste for externo, isso pode ser facilmente resolvido com detergente, água,
      lixas de água P1500 e P2000, fita de isolamento, um pano de microfibra e produtos para proteger de raios UV e para
      polir.

      O primeiro passo é lavar bem os faróis do seu carro para se ver livre de detritos que possam estar neles. Deixe-os
      secar, e passe ao próximo passo.

      À volta dos faróis, coloque uma camada de fita de isolamento para que não danifique a pintura do seu carro ao usar
      as lixas para polir os faróis. E com a ajuda de um borrifador, passe as lixas nos faróis com muito cuidado para
      não os danificar. Isso mesmo, as lixas umedecidas! Comece com a 1500 e passe depois para a 2000, tendo sempre
      muito cuidado para não fazer estragos.

      Use polish: depois de passar as lixas está na altura de usar polish de modo a garantir que não sobra defeito
      nenhum. Por fim, termine a tarefa usando um produto para proteger de raios UV. Mas, temos uma importante
      observação: se o farol estiver embaçado por dentro, é sinal que o farol está rachado e que há vapor de água se
      formando.
    </li>
  </ul><br>


</ion-content>