<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/tecnologia"  style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
      </ion-buttons>      
    <ion-title>
    <p style=color:#ffffff text-center> Manutenção de Carros</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <b><h1>Pequenos reparos e consertos do carro que você mesmo pode fazer</h1></b>
  
</ion-content>
