<ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
          <ion-button href="/limpeza" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>
        <p style=color:#ffffff text-center>Lavanderia</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding ion-text-justify">

    <img src="assets/imglimpeza/sapatos.jpg">

    <p>1. Para ajudar a secar sapatos e tênis molhados da chuva, coloque dentro deles folhas de jornal ou mesmo um sachê com grãos de arroz. Estes elementos ajudam a absorver a umidade, acelerando o processo de secagem dos calçados.</p>
    <p>2. “Para remover manchas de sangue corretamente, elas devem ser tiradas com água oxigenada volume 10 líquida. Se você encontrar a versão volume 20, melhor, mas precisa ser a líquida para agilizar o processo. Coloque uma boa quantidade no local manchado e deixe agir por alguns minutos. Coloque um pouco de sabão em pó e água fervendo, esfregue e lave normalmente,” orienta a personal organizer.</p>
    <p>3. Retire manchas de gordura das roupas aplicando giz escolar ou talco sobre a macha. Espere alguns minutos para absorvera gordura e esfregue um pano para retirar a sujeira.</p>
    <p>4. Possui manchas de batom na sua roupa? Aplique spray fixador de cabelo sobre elas, deixe descansar por 10 minutos, passe um pano úmido sobre a mancha e lave sua peça de roupa normalmente.</p>
    <p>5. ”Dê preferência a sabões líquidos para lavar roupa, pois eles dissolvem na água não acumulando na roupa. Para as roupas escuras, utilize os sabões próprios para roupas escuras, eles mantêm a cor viva por mais tempo”, aconselha a personal organizer.</p>
    <p>6. Para retirar marcas de café da toalha de mesa, esfregue bicarbonato de sódio com um pouco de água que a mesmas sairão sem demora.</p>
    <p>7. ”O amaciante funciona também com um anti-mofo. Por isso você não precisa comprar produtos específicos para passar roupa. No borrifador coloque água e um pouquinho de amaciante, além de perfumar um pouco mais irá funcionar como anti-mofo”, propõe Helo.</p>
    <p>8. “Fique atenta para o nível de sabão. Sabão em excesso estraga tanto a máquina quanto as roupas. Roupas que saem da máquina com muito cheiro de sabão, com certeza a quantidade foi exagerada. E também causam alergias, alerta a personal organizer.</p>
    <p>Utilizando estas dicas, limpar a casa se torna tarefa mais prática e fácil de se realizar. Lembrando sempre que a melhor maneira de se facilitar o momento da limpeza é focar em prevenir possíveis formas de acúmulo de sujeira.</p>

</ion-content>
