<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/jogos" style="background-color:  rgb(117, 14, 14)">
        <ion-icon name="undo" style=color:#ffffff></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <p style=color:#ffffff>Jogos de Tabuleiro</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">

  <h4>JOGOS DE TABULEIRO: 5 IDEIAS FAÇA VOCÊ MESMO</h4><br>

  <h1>1. Dama</h1>
  <ion-label>
    Este talvez seja um dos brinquedos mais interessantes, pois além de trabalhar o conceito de reutilização, o jogo de
    damas é um "brinquedo" que trabalha a lógica e auxiliará a criança no desenvolvimento intelectual. Quem joga damas
    ou xadrez quando criança, certamente terá uma mente afiada na fase adulta. Embora extremamente simples de se fazer,
    pode ser necessário alguns dias para completá-lo, pois serão necessárias 24 tampinhas de garrafa (com preferência às
    de plástico PET). Como não aconselhamos tamanha ingestão de refrigerantes, é possível conseguir estas tampinhas numa
    lanchonete local, ou mesmo através do consumo de sucos naturais.<br><br>
    Tendo as tampinhas em mãos, vamos então criar o tabuleiro. Para o tabuleiro, utilizamos papelão que pode ser de uma
    caixa velha de sapatos ou qualquer outra que em geral vem os produtos que adquirimos. Pode até ser a parte interna
    de uma caixa de cerais ou biscoitos. Usamos então uma régua e traçamos 7 linhas e 7 colunas. Basta então pintarmos o
    interior do cada quadrado.<br><br>
    Embora no jogo de damas siga-se um padrão de cores (brancas e pretas) na brincadeira e na criação estas regras não
    existem! Incentive sua criança, pinte das mais variadas cores e estimule a imaginação. Será um desafio e tanto jogar
    num tabuleiro colorido:<br><br>
    <img src="assets/imgjogos/dama.jpg">
  </ion-label>
  <br>
  <br>

  <h1>2. Xadrez</h1>
  <ion-label>
    Pode parecer impossível fazer um jogo de xadrez – um dos mais elaborados dentre os jogos de tabuleiro – com material
    reciclado. Mas não é! Com um pouco de paciência e muitos potinhos de leite fermentado à mão, é possível fazer um
    jogo de xadrez, que não deixa nada a dever às versões compradas. Acompanhe o tutorial:<br><br>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/xpS8Oqk-m8g" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-label>
  <br>
  <br>

  <h1>3. Trilha</h1>
  <ion-label>
    Uma boa forma de ensinar conceitos matemáticos, de um modo lúdico, é jogar trilha com a criançada. Basta uma caixa
    de pizza, algumas tampinhas, papel e muita criatividade para fazer esse jogo.<br><br>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/iM842MfcHNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-label>
  <br>
  <br>

  <h1>4. Sinuca com botão</h1>
  <ion-label>
      Alguns pedaços de madeira velha e botões são suficientes para fazer essa sinuca, improvisada, mas muito criativa. Confira no vídeo o resultado e boa diversão!<br><br>
      <iframe width="400" height="215" src="https://www.youtube.com/embed/OkjUkL181zE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-label>
  <br>
  <br>
  
  <h1>5. Labirinto</h1>
  <ion-label>
      Para fazer esse labirinto, é só usar materiais que, geralmente, se tem em casa: cola, papel milimetrado ou quadriculado, papelão, palito de picolé, cola quente, régua, tesoura, tinta, pincel, canetinhas, canudo e miçangas. No vídeo há o passo a passo. Esse jogo vai render muitas horas de concentração por parte da criançada!<br><br>
      <iframe width="400" height="215" src="https://www.youtube.com/embed/pTlDNUzjTy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-label>
  <br>
  <br>



</ion-content>