<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-button href="/home" style="background-color:  rgb(117, 14, 14)">
          <ion-icon name="undo" style=color:#ffffff></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
     <p style=color:#ffffff text-center>Benefícios da dança </p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding ion-text-justify">
    
  <b><h1>Benefícios da dança para a saúde física e emocional</h1></b>
  <p>Não é de hoje que sabemos que a prática de atividades físicas proporciona benefícios para o bom funcionamento do organismo, principalmente quando associada a uma dieta saudável e à hidratação. Agora, praticar atividades físicas através da dança pode ajudar a melhorar não somente a saúde do corpo, mas também a emocional.</p>
  <p>Segundo a professora de dança Renata Dipp, dançar gasta calorias de uma forma alegre, descontraída e divertida. Por isso, quem dança muitas vezes acaba não percebendo o tempo passar em aulas que misturam exercícios aeróbicos com músicas animadas.</p><br>

  <b><h1>Os benefícios da dança</h1></b>
  <p>Para a saúde física, a dança melhora a coordenação motora, o equilíbrio e a agilidade, trabalhando membros inferiores, tais como: coxas, glúteos, pernas, abdômen e braços.</p>
  <p>Em relação a saúde emocional, a sensação de bem-estar durante a prática do exercício provoca a liberação de endorfina, que melhora o humor e a autoestima.</p>
  <p>“Em pouco tempo, às vezes já na primeira aula, as pessoas que fazem dança já saem diferentes, mais alegres e felizes”, afirma a professora Renata.</p><br>

  <b><h1>Tipos de dança</h1></b>
  <p>São várias os tipos e estilos de dança para praticar no dia a dia. Confira os mais praticados nas academias e escolha o seu!</p><br>

  <b><h1>Zumba</h1></b>
  <p>Uma das modalidades mais conhecidas para queimar calorias, a Zumba é inspirada em coreografias latinas. O ritmo é superenergizado e trabalha os braços, as pernas e os glúteos.</p><br>

  <b><h1>Ballet Fitness</h1></b>
  <p>Esta modalidade combina o Ballet Clássico com movimentos fitness, trabalhando com o peso do próprio corpo. O ritmo do Ballet Fitness ajuda a queimar calorias, aumentar a oxidação de gordura, melhorar a postura, alongar os músculos, entre outros benefícios.</p>
  <p>Além do Ballet Fitness, também existe a modalidade Balletball, que junta a prática do Ballet Clássico com a bola suíça, trabalhando flexibilidade, coordenação, força e postura.</p><br>

  <b><h1>Pular também é dançar</h1></b>
  <p>É só calçar os sapatos suíços Kangoo Jumps e pular muito no ritmo das músicas mais animadas. Esse tipo de exercício ajuda a melhorar a resistência e o condicionamento cardiovascular.</p><br>

  <b><h1>Sh’Bam</h1></b>
  <p>Nessa categoria você vai dançar muito no ritmo das divas e divos do pop. É uma modalidade boa para dançar ao som de vários tipos de músicas e não cair na mesmice. Você pode queimar muitas calorias com rock, pop, pagode, disco e hip-hop.</p>
</ion-content>
