<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/tecnologia" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>
        <p style=color:#ffffff text-center>Manutenção de Motos</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">

    <h1>1. Cuide da bateria</h1>
    <ion-label>
        A maioria das motos mais modernas já vêm com uma bateria que não requer manutenção nem têm a necessidade de completar água. Por isso, essa bateria é selada e tem uma espécie de “bolinha” que permite verificar seu nível. Caso não tenha essa possibilidade de verificar, pode-se utilizar um multímetro.<br><br>
        Se a bateria requerer que a água seja completada, deve-se retirá-la e, usando ferramentas adequadas, localizar a bateria conforme determina o manual, removê-la, retirar as tampas e completar com água destilada. É extremamente importante que não se use água comum, pois ela possui componentes que aceleram a corrosão da bateria, diminuindo sua vida útil. <br><br>
        Os polos da bateria também devem ser limpos com frequência, impedindo a oxidação, e a carga medida para não ter problemas com o descarregamento.<br><br>
    </ion-label>
    <br>

    <h1>2. Lubrifique os cabos</h1>
    <ion-label>
            Os cabos de freio, embreagem e acelerador devem ser lubrificados para que não se rompam, o que causaria um acidente. Além disso, é preciso estar sempre atento para que a regulagem esteja sempre correta.<br><br>
            Nesse cenário, também é importante destacar a importância de verificar os cabos das velas, porque sua oxidação pode ocasionar problemas ao rendimento e ao consumo da moto.<br><br>
    </ion-label>
    <br>

    <h1>3. Verifique as correntes</h1>
    <ion-label>
        Na manutenção da moto, a corrente não pode ficar folgada, porque isso pode causar um acidente. Por isso, ela deve ser constantemente lubrificada e regulada.<br><br>
        O ideal é que você peça que o mecânico verifique a cada troca de óleo, mas você também pode fazer uma breve análise todas as manhãs antes de sair. Para ter certeza de que tudo está correto, basta verificar no manual de quantos centímetros de folga é permitido para o modelo da sua moto.<br><br>
    </ion-label>
    <br>

    <h1>4. Troque ou limpe o filtro de ar</h1>
    <ion-label>
        O filtro do ar é responsável por filtrar as impurezas contidas na estrada ou cidade, impedindo que elas entrem no motor. Alguns filtros são descartáveis e outros podem ser removidos e lavados. Você pode descobrir qual é o tipo de filtro de ar que sua moto utiliza olhando no manual. No caso de precisar lavar, água e detergente líquido neutro são suficientes.
    </ion-label>
    <br>

    <h1>5. Verifique os freios</h1>
    <ion-label>
        Os freios são parte importante de qualquer veículo e, por isso, devem ser verificados constantemente. Os freios a disco podem ter seu desgaste analisado a olho nu, enquanto os freios a tambor devem ser removidos e analisados com cuidado.<br><br>
        É importante saber que os freios a tambor com lonas costumam apresentar ruído. Para evitar isso, é preciso desgastar as partes que se sobressaem com uma lixa ou verificar a elasticidade das molas.<br><br>    
        Em relação às lonas, existe uma seta que você pode verificar o desgaste. Para evitar problemas, é necessário fazer a regulagem. Já os freios a disco requerem a troca do fluido de freio, que geralmente acontece de dois em dois anos.<br><br> 
        Vale a pena lembrar que pastilhas de freio desgastadas comprometem os discos, causando dificuldades na frenagem e podendo, portanto, causar acidentes.<br><br>
    </ion-label>
    <br>

    <img src="assets/imgmanutencao/motor.jpg"><br><br>

    <h1>6. Confira o óleo do motor</h1>
    <ion-label>
        Na maioria das motos, o óleo do motor ajuda também a lubrificar o câmbio. Para evitar transtornos, o recomendado é identificar no manual de quanto em quanto tempo o óleo do motor deve ser substituído.<br><br>
        Caso você use a moto com bastante frequência (caso de um motoboy, por exemplo), deve-se analisar a condição de uso severo, que, muitas vezes, pode diminuir o tempo de troca do óleo do motor pela metade.<br><br>
        O óleo de boa qualidade garante mais durabilidade para o motor. O manual especifica qual deve ser usado. Além disso, você deve escolher o semissintético ou sintético, que aumentam a performance.<br><br>
        O óleo deve ser lubrificado com frequência, de preferência a cada 200 km, analisando se o nível está entre o mínimo e o máximo. É importante lembrar de que o óleo sempre deve ser checado com o motor frio.<br><br>   
        Recomenda-se também trocar o filtro de óleo cada vez que substituir o óleo, porque ele pode armazenar óleo queimado e sujo. Assim, essa impureza não se mistura ao novo óleo.<br><br>
    </ion-label>
    <br>

    <h1>7. Analise os pneus</h1>
    <ion-label>
        Um pneu careca pode causar um grande acidente. Já um pneu furado fará com que você tenha que carregar a moto até uma oficina para trocá-lo. Nesse ponto, a moto tem uma desvantagem, já que não existe estepe.<br><br>
        Assim, é preferível que você confira a calibragem toda semana, toda vez que abastecer e a cada troca de óleo se ele for um pneu sem câmara.<br><br>
        Para pneus com câmara, o melhor é ter o “macarrão” ou inserir a chamada “fraldinha” nos aros.<br><br>
        Você também deve verificar os sulcos do pneu, sem chegar ao limite, porque isso pode causar problemas, especialmente em dias chuvosos.<br><br>  
        A dica é calibrar os pneus quando eles estão frios, porque, em contato com o solo, a máquina identifica uma pressão mais alta. Por isso, o melhor é ir a um posto próximo para que eles não esquentem muito, calibrando o necessário.<br><br>      
        Por fim, deve-se analisar a validade do pneu, que geralmente é de cinco anos. Depois desse prazo, o pneu perde o grip e a chance de um acidente é maior pela falta de atrito.<br><br>
    </ion-label>
    <br>

    <h1>8. Confira a vela de ignição</h1>
    <ion-label>
      É esse elemento que permite a combustão que inicia o motor e, consequentemente, faz a moto andar. Quando a vela está gasta, ela causa uma perda de potência do motor, aumento do consumo e da emissão de poluentes. Por isso, é sempre importante fazer a troca antes que elas estraguem. Verifique no manual da sua moto quando é a hora certa para trocá-las. Além disso, recomenda-se analisá-las a cada 3 mil km.
    </ion-label>
    <br>
    <br>

    <h1>9. Troque o óleo de bengala</h1>
    <ion-label>
        O óleo de bengala tem a responsabilidade de manter a estabilidade da moto e sua dirigibilidade. O manual faz uma recomendação de quando o óleo de bengala deve ser trocado, mas, por precaução, vale a pena substituí-lo antes do prazo.<br><br>
        Também é importante colocar o nível exigido pelo fabricante, porque isso impacta o consumo da moto.<br><br>
    </ion-label>
    <br>

    <h1>10. Lubrifique os rolamentos</h1>
    <ion-label>
        A lubrificação dos rolamentos assegura um rodar macio e melhora a dirigibilidade. Se não for realizada a manutenção correta, a roda pode travar em algumas situações, ocasionando acidentes.<br><br>
        Assim, a manutenção de moto é algo simples, mas que exige alguns cuidados para evitar acidentes e garantir que a sua dirigibilidade seja a melhor possível. Gostou de conhecer essas dicas, ou possui alguma que não mencionamos aqui? Então deixe seu comentário!<br><br>
    </ion-label>
    <br>






</ion-content>
