<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/home" style="background-color:  rgb(117, 14, 14)">
        <ion-icon name="undo" style=color:#ffffff></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <p style=color:#ffffff text-center>Dicas de Entretenimento</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">

  <ion-button href="/jogos" style="--background:  rgb(117, 14, 14)">
    <ion-icon name="logo-game-controller-b" style=color:#ffffff></ion-icon>
  </ion-button>
  <ion-label class="tamanho">Jogos</ion-label><br>


  <ion-button href="/noticias" style="--background:  rgb(117, 14, 14)">
    <img src="assets/img/noticias.png">
  </ion-button>
  <ion-label>Notícias</ion-label><br>


  <ion-button href="/musica" style="--background:  rgb(117, 14, 14)">
    <ion-icon name="musical-notes" style=color:#ffffff></ion-icon>
  </ion-button>
  <ion-label class="tamanho">Músicas</ion-label><br>

  <ion-button href="/musica" style="--background:  rgb(117, 14, 14)">
    <ion-icon ios="ios-school" md="md-school" style=color:#ffffff></ion-icon>
  </ion-button>
  <ion-label class="tamanho">Estudos</ion-label><br>
  
  <ion-button href="/musica" style="--background:  rgb(117, 14, 14)">
    <ion-icon ios="ios-film" md="md-film" style=color:#ffffff></ion-icon>
  </ion-button>
  <ion-label class="tamanho">Filmes</ion-label><br>

  <ion-button href="/musica" style="--background:  rgb(117, 14, 14)">
    <ion-icon name="paper" style=color:#ffffff></ion-icon>
  </ion-button>
  <ion-label class="tamanho">Séries</ion-label><br>

</ion-content>