<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-button href="/limpeza" style="background-color:  rgb(117, 14, 14)"> 
        <ion-icon name="undo" style="color:#ffffff"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
        <p style=color:#ffffff text-center>Cozinha</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">

  <b><h4>Na cozinha</h4></b>

  <p>1. Limpe panelas muito sujas ou com marcas de queimado adicionando água com uma xícara de vinagre branco. Leve ao fogo até a mistura ferver e adicione duas colheres de sopa de bicarbonato de sódio. Esvazie a panela e lave-a esfregando levemente para tirar as marcas de queimado.</p>
  <p>2. Para limpar rapidamente o micro-ondas, utilize um limão cortado ao meio e coloque em um copo de água. Ligue o micro-ondas até que a água comece a ferver. Feito isto, desligue o micro-ondas e deixe o copo descansar por um minuto antes de retirá-lo. Isto fará com que a gordura saia facilmente ao passar um pano em seu interior.</p>
</ion-content>
