<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-button href="/limpeza" style="background-color:  rgb(117, 14, 14)"> 
        <ion-icon name="undo" style="color:#ffffff"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
        <p style=color:#ffffff text-center>Cozinha</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">

  <b><h4>Na cozinha</h4></b>

  <img src="assets/imglimpeza/panela.jpg">

  <p>1. Limpe panelas muito sujas ou com marcas de queimado adicionando água com uma xícara de vinagre branco. Leve ao fogo até a mistura ferver e adicione duas colheres de sopa de bicarbonato de sódio. Esvazie a panela e lave-a esfregando levemente para tirar as marcas de queimado.</p>
  <p>2. Para limpar rapidamente o micro-ondas, utilize um limão cortado ao meio e coloque em um copo de água. Ligue o micro-ondas até que a água comece a ferver. Feito isto, desligue o micro-ondas e deixe o copo descansar por um minuto antes de retirá-lo. Isto fará com que a gordura saia facilmente ao passar um pano em seu interior.</p>
  <p>3. Simplifique a limpeza do liquidificador apenas adicionando água e detergente após o seu uso. Ligue-o por alguns segundos e basta apenas enxaguar.</p>
  <p>4. Para limpar um moedor de café, coloque grãos de arroz crus em seu interior. Isso fará com que odores antigos desapareçam. Para limpar, “moa” um colher de sopa de bicarbonato de sódio e limpe bem.</p> 
  <p>5. Para limpar um forno bem sujo, coloque uma vasilha com meio copo de amônia e deixe descansar durante a noite. Ao acordar, limpe normalmente o interior do seu forno.</p>
  <p>6. Deseja tirar as marcas deixadas pelo uso excessivo da cafeteira? Adicione partes iguais de água e vinagre dentro da jarra, ligue a cafeteira até o meio do ciclo e deixe descansar. Após uma hora, ligue-a novamente e deixe o ciclo se repetir. Depois, faça mais dois ciclos somente com água, para evitar qualquer sabor ou aroma desagradável.</p>

<img src="assets/imglimpeza/prata.jpg">

  <p>7. Possui utensílios de prata? Para limpá-los, coloque-os em uma tigela forrada com papel alumínio, adicione água fervendo, meio copo de sal e meio copo de bicarbonato de sódio. Deixe descansar por 30 minutos e enxague normalmente.</p>
  <p>8. Para limpar o grill ou sanduicheira, ao finalizar o uso, coloque duas folhas de papel toalha úmidas no seu interior e feche-o. O calor provindo do uso irá fazer com que a sujeira fique mais fácil de grudar no papel. Depois, abra-o e limpe o restante da sujeira também com papel toalha.</p>
  <p>9. Se deseja garantir que a esponja de lavar louças esteja livre de germes, coloque-a ainda úmida no micro-ondas e ligue na potência alta por dois minutos. Este processo mata cerca de 99% do germes presentes na mesma.</p>

  <img src="assets/imglimpeza/pao.jpg">

  <p>10. Quebrou um copo ou recipiente de vidro? Garanta sua segurança e evite se machucar pegando os cacos utilizando uma fatia de pão de forma.</p>
  <p>11. Limpe os queimadores do fogão facilmente. Coloque-os em um saco plástico com ¼ de copo de amônia, sele o saco e deixe descansar durante a noite. Agora basta lavá-los normalmente com uma esponja que a sujeira sairá sem problemas.</p>
  <p>12. Utilize uma cebola cortada ao meio para ajudar a tirar os restos que ficam grudados na grelha após cozinhar. Apenas esfregue-a por toda a grelha que os restos de comida facilmente sairão.</p>
  <p>13. Para limpara tábua de corte sem deixar resquícios de química ou odores, utilize sal grosso e limão esfregando-os por toda sua extensão e enxaguando posteriormente.</p>
</ion-content>
