<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/entretenimento" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
          </ion-buttons>
    <ion-title>
        <p style=color:#ffffff>Jogos Mobile</p>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding ion-text-justify">
    
    <h4>10 melhores jogos multiplayer para jogar com os amigos</h4>
    <h3>Confira a lista dos melhores jogos mobile que separamos para vocês.</h3>
  
    <h1>1 – Asphalt 8 – Airborne</h1>
    <p>Que a Gameloft nunca deixa a desejar, isso nós já sabemos, porém o Airborne da série Asphalt fica sempre entre os Top 3 melhores jogos multiplayers avaliados pela galera. O app já conquistou mais de 200 milhões de jogadores, e não é pra menos, são mais de 140 máquinas velozes, gráficos incríveis e prêmios exclusivos, tudo para você personalizar e turbinar sua maquina do jeito que quiser. Literalmente um jogo para os apaixonados por corridas radicais.</p>
  
    <h1>2 – Real Racing 3</h1>
    <p>Número 1 em mais de 100 países, o Real Racing 3 conta com maravilhosas pistas oficias licenciadas, 39 circuitos em 17 locais e grid com 49 carros disponíveis. Ótima qualidade de recursos e jogabilidade. Experimente e desfrute desse jogo insano!</p>
  
    <h1>3 – Virtual Table Tennis 3D</h1>
    <p>Pra quem nunca jogou ping pong em dispositivos, o Virtual Tables Tennis assusta de princípio, pois você ainda não pegou as manhas do jogo, porém, assim que você vai ganhando confiança, o game fica legal e extremamente viciante. Lembrando que é possível selecionar o nível de dificuldade antes da partida. No geral, possui ótimos gráficos e um realismo incomparável.</p>
  
    <h1>4- Call Of Champions</h1>
    <p>Three, two, one, fight! Call Of Champions segundo o Tech Tudo (site de tecnologia da Globo.com) é um MOBA com jogabilidade simplificada, partidas rápidas e uma enorme variedade de personagens, cada um com uma árvore de evolução distinta. E para liberar o modo multiplayer, o jogo exige que o jogador aumente o nível de experiência dos personagens em uma dinâmica divertida e instigante.</p>
  
    <h1>5 – Worms Ultimate Mayhem</h1>
    <p>E quem é que não lembra de Worms, o jogo das minhoquinhas?! Excelente e divertido jogo de raciocínio, Worms Ultimate Mayhem é uma evolução da série, com artilharia em 3D que permite personalizar a aparência das minhocas, como também criar próprias armas e equipamentos, além de contar com várias novas armas. O objetivo principal do jogo? Destruir os times adversários.</p>
  
    <h1>6 – Marvel Future Fight</h1>
    <p>Lançado em 2015, Marvel Future Fight (assim como todos os jogos da Marvel) é atualizado constantemente. E digo isso tanto em relação gráfica, quanto em relação aos personagens (acessórios e vestimentas). O jogo conta com diversos personagens dos quadrinhos, é bastante estratégico e exige de cada personagem suas habilidades especiais. Seguindo a ordem de cada missão, em batalhas rápidas, é possível conseguir mais itens e novos personagens.</p>
  
    <h1>7 – Air Hockey Deluxe</h1>
    <p>Com efeito sonoros e uma qualidade gráfica incrível , o Air Hockey Deluxe é um jogo de hockey de mesa digital fácil de jogar, super divertido e ótimo para passar o tempo. Conta com três níveis de dificuldade e é possível jogar com um amigo em um mesmo dispositivo.</p>
  
    <h1>8 – Sticks HD </h1>
    <p>Disponível em versão Android e IOS, Sticks HD é a versão digital do jogo clássico das varinhas coloridas, mas conhecido como Mikado. Ideal para jogar com os amigos e com toda a família, pois é um game super fácil de jogar e que promete muita diversão.</p>
  
    <h1>9 – Minecraft Pocket Edition</h1>
    <p>Um game para exercitar sua criatividade e seu pensamento estratégico, Minecraft é focado em construção em um universo todo pixelado. Mas não pense você que é só construir castelos e mais castelos, o jogo é um verdadeiro desafio para escapar de caveiras e zumbies.</p>
  
    <h1>10 – UNO™ & Friends</h1>
    <p>E é claro que nós não poderíamos esquecer do famoso e popular UNO, o jogo de cartas mais amado do mundo. Fácil de aprender e jogar, com diversos torneios online, UNO é sempre a escolha master da galera, pois pode ser jogado por pessoas de qualquer idade a qualquer tempo.</p>
</ion-content>
