<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button href="/tecnologia"  style="background-color:  rgb(117, 14, 14)">
              <ion-icon name="undo" style=color:#ffffff></ion-icon>
            </ion-button>
        </ion-buttons>      
      <ion-title>
      <p style=color:#ffffff text-center>6 Dicas de Manutenção</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding ion-text-justify">
  
  <b><h1>6 DICAS DE MANUTENÇÃO PARA VOCÊ CUIDAR DA CASA</h1></b>
  <img src="assets/img/manutencao2.jpg">

  <b><h1>1. CRIE UM CALENDÁRIO DE MANUTENÇÃO PERIÓDICA</h1></b>
  <p>Elaborar um calendário de manutenção é uma ótima estratégia para cuidar da casa e manter tudo sob controle. Para criar o seu, liste todas as coisas que você precisa fazer e defina com qual periodicidade cada tarefa deve ser feita, de acordo com a rotina caseira.</p>
  <p>Alguns hábitos relevantes são a limpeza e verificação do funcionamento de eletrodomésticos e outros utensílios semanalmente, cuidados com a geladeira e a dispensa de modo mais profundo mensalmente, retirada da poeira dos móveis cerca de duas ou três vezes por semana e etc.</p>
  <p>Apresente o planejamento de manutenção para sua família e, se possível, peça a ajuda dela para cumprir as tarefas. Crie lembretes para não se esquecer de nada e tente segui-los à risca. Você pode utilizar um calendário de papel ou um digital no seu smartphone, por exemplo.</p><br>

  <b><h1>2. LIMPE E ENCERE PISOS PARA EVITAR RESSECAMENTO</h1></b>
  <p>É muito importante fazer uma limpeza e encerar o piso de casa regularmente, para mantê-lo bem conservado. A cera dá brilho e protege o chão contra o ressecamento e possíveis descascados, aumentando a durabilidade e evitando que você precise trocá-lo cedo demais.</p>
  <p>Antes de comprar os produtos necessários, procure saber quais são os tipos mais adequados para o material do seu piso e como utilizá-los corretamente. Essa limpeza pode ser feita semanalmente.</p>

  <b><h1>3. REVISE MENSALMENTE O SISTEMA HIDRÁULICO</h1></b>
  <p>Todos os meses, reserve um tempo para verificar o funcionamento e fazer uma limpeza nos canos da casa. Dê atenção especial às descargas e tubulações das pias, locais nos quais costuma acontecer a maior parte dos problemas.</p>
  <p>Assim, você impede futuros transtornos como entupimentos, vazamentos e até mesmo o rompimento de algum cano. Esses incidentes podem aumentar o valor da conta de água.</p><br>

  <b><h1>4. PINTE AS PAREDES COM FREQUÊNCIA</h1></b>
  <p>A pintura é essencial para acabar com os descascados e renovar a aparência do ambiente. Ao colorir as paredes, é primordial ficar atento à existência de rachaduras. Caso encontre alguma, verifique se elas são superficiais ou mais profundas. No segundo caso, é uma boa ideia pedir a ajuda de um profissional para analisar mais a fundo.</p>
  <p>A pintura pode ser feita a cada dois anos, por exemplo, se não houver problemas como infiltrações ou partes descascadas muito evidentes.</p><br>

  <b><h1>5. FAÇA A MANUTENÇÃO DO SISTEMA ELÉTRICO</h1></b>
  <p>Fazer a manutenção elétrica periodicamente é indispensável para manter a segurança da casa e evitar valores inesperados na conta de luz. Se as lâmpadas piscam muito, utensílios queimam com frequência, há fios desencapados à vista ou tomadas com alta descarga de energia, busque resolver o problema imediatamente. Assim, você evita choques e problemas em seus aparelhos eletrônicos.</p>
  <p>A manutenção do sistema elétrico pode ser feita anualmente, de maneira preventiva. Se necessário, solicite a ajuda de um eletricista, principalmente no caso de reparos mais complexos.</p><br>

  <b><h1>6. EVITE EMPOÇAMENTOS E INFILTRAÇÕES</h1></b>
  <p>Infiltrações nas paredes diminuem a vida útil das pinturas e podem trazer contratempos de saúde para você e sua família. Além disso, infiltrações no teto desgastam a estrutura da laje. Portanto, certifique-se de que há boa impermeabilização. Revise também o sistema de calhas periodicamente, para retirar folhas ou outros dejetos que possam impedir o escoamento da água e causar poças.</p><br>

  
  <p>Seguindo as dicas apresentadas neste post, você poderá cuidar da casa com mais facilidade e, devido às manutenções preventivas, evitará o surgimento de adversidades difíceis de resolver. Assim, o lar estará sempre em ordem, o que é um passo fundamental para o bem-estar de sua família.</p>
</ion-content>
