<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-button href="/saude" style="background-color:  rgb(117, 14, 14)">
          <ion-icon name="undo" style=color:#ffffff></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
     <p style=color:#ffffff text-center>Benefícios do sexo </p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding ion-text-justify">

  <b><h1>8 Benefícios do sexo para a saúde</h1></b>
  <p>Sexo é bom e ainda faz bem para a saúde! O orgasmo, por exemplo, é uma das sensações mais íntimas e deliciosas para homens e mulheres e é muito mais do que sinal do sucesso de uma relação sexual. A cada dia, os cientistas descobrem novos efeitos desta reação orgânica que, além de melhorar as emoções, faz muito pela sua saúde. "O orgasmo contribui para que homens e mulheres vivam com mais qualidade, trata-se de um momento de prazer que reverbera por vários dias", afirma o ginecologista Neucenir Gallani.</p>
  <p>Porém, apesar de proporcionar prazer e qualidade de vida, uma pesquisa feita pela Universidade de São Paulo (USP) revelou que 70 % dos brasileiros fazem menos sexo do que declaram em conversas e pesquisas públicas. Por isso, o Minha Vida estimula você a melhorar essa situação trazendo o que a ciência e os especialistas andam dizendo por aí sobre os benefícios que uma vida sexual ativa trazem ao corpo. Confira:</p><br>

  <b><h1>1. Alivia as crises de enxaqueca</h1></b>
  <p>Segundo o médico Neucenir Gallani, o orgasmo libera substâncias, como as endorfinas, que atuam no sistema nervoso. "Elas diminuem a sensibilidade à dor, relaxando a musculatura e melhorando o humor", afirma.</p><br>

  <b><h1>2. Melhora o aspecto da pele</h1></b>
  <p>Fazer sexo, principalmente no período da manhã, é um poderoso aliado da beleza para manter a juventude. Essa foi a conclusão de um estudo, realizado por cientistas da Universidade Queens (Reino Unido). De acordo com os pesquisadores, atingir o orgasmo aumenta os níveis de estrogênio, testosterona e de outros hormônios ligados ao brilho e a textura da pele e dos cabelos.</p>
  <p>Além disso, quando há o orgasmo, ocorre uma vasodilatação superficial dos vasos, até aumentando a temperatura em algumas pessoas. Com isso, a pele ganha uma aparência mais fresca, e o brilho natural dela fica em destaque.</p><br>

  <b><h1>3. Alivia as cólicas na TPM</h1></b>
  <p>O ginecologista Neucenir Gallani faz questão de reforçar que isso não é uma regra, mas acontece com algumas mulheres. Os movimentos realizados durante o sexo estimulam os órgãos internos, que ficam mais relaxados e, com isso, há diminuição das dores que incomodam seu bem-estar nos dias antes da menstruação. "Mas há mulheres que, na fase pré-menstrual, não têm disposição para o sexo e forçar a barra pode ser pior", diz o ginecologista.</p><br>

  <b><h1>4. Melhora o sono</h1></b>
  <p>O relaxamento que o orgasmo traz contribui para que você durma melhor, e não apenas no dias em que houver sexo. A reação tem efeito prolongado, devido a ação dos neurotransmissores que passam a agir no seu organismo com mais regularidade e numa quantidade maior.</p><br>

  <b><h1>5. Diminui o estresse</h1></b>
  <p>O médico faz questão de ressaltar que o orgasmo não deve ser encarado como um remédio calmante, mas como parte de uma relação afetiva que traz prazer. Quando isso acontece, os níveis de estresse tendem a diminuir não só pela estabilidade emocional, mas também porque os chamados hormônios do estresse, como o cortisol, apresentam atividade reduzida. Quem trouxe essa novidade foi um estudo escocês publicado na revista Biological Psychology.</p><br>

  <b><h1>6. Diminui os riscos de infarto</h1></b>
  <p>Um estudo da Universidade de Bristol, na Grã-Bretanha, realizado com mais de 3 mil homens de 45 a 59 anos, concluiu, após 20 anos, que o sexo frequente pode reduzir o risco de infartos fatais e de derrames. De acordo com as conclusões da pesquisa, a morte súbita causada por problemas de coração é mais comum entre homens que afirmam ter níveis baixos ou moderados de atividade sexual.</p><br>

  <b><h1>7. Queima calorias</h1></b>
  <p>Segundo a Associação Americana de Educadores e Terapeutas Sexuais, a atividade sexual pode ser um ótimo exercício para o corpo. Isso porque meia hora de sexo queimam, em média, 85 calorias. Portanto, se você está sem paciência para ir à academia, que tal optar pelo plano B?</p><br>

  <b><h1>8. Aumenta a imunidade</h1></b>
  <p>Um estudo feito pela Wilkes University, nos Estados Unidos, mostrou que uma vida sexual ativa aumenta os níveis de um anticorpo conhecido como IgA , responsável pela proteção do organismo de infecções, gripes e resfriados.</p>
</ion-content>
