<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/entretenimento" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
          </ion-buttons>
    <ion-title>
        <p style=color:#ffffff >Música</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <h1 style=color:#ffffff>Músicas Relaxantes</h1>
  <iframe width="400" height="215" src="https://www.youtube.com/embed/YbHZ8VVhb94" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-content>
