<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/entretenimento" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="undo" style=color:#ffffff></ion-icon>
          </ion-button>
          </ion-buttons>
    <ion-title>
       <p style=color:#ffffff >Jogos</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <ion-button href="/jogosmobile " style="--background:  rgb(117, 14, 14)">Jogos Mobile</ion-button>

</ion-content>