<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button href="/receitas" style="background-color:  rgb(117, 14, 14)">
              <ion-icon name="undo" style=color:#ffffff></ion-icon>
            </ion-button>
            </ion-buttons>
      <ion-title>
          <p style=color:#ffffff text-center>Receitas Rápidas  </p>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding ion-text-justify">
    <h5 style=color:#ffffff> Pizza na frigideira pronta em 10 minutos:</h5>
  
  <ion-badge style="background: #5f010180">
      <iframe width="400" height="215" src="https://www.youtube.com/embed/EKOUSAtme8Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
      <h4>Ingredientes:</h4>
      <u><h6>Massa:</h6></u>
      
      <p>- 1+1/2 XÍCARA DE CHÁ (XÍCARA 200 ML) DE FARINHA DE TRIGO</p>
      <p>- 1 COLHER DE CAFÉ DE SAL</p>
      <p>- 1 COLHER DE CAFÉ DE AÇÚCAR</p>
      <p>- 1/2 XÍCARA DE CHÁ (XÍCARA 200 ML) DE ÁGUA</p>
      <p>- 1 COLHER DE SOPA DE AZEITE</p>
    
      <u><h6>Recheio:</h6></u>
    
      <p>- MOLHO DE TOMATE A GOSTO</p>
      <p>- PRESUNTO Á GOSTO</p>
      <p>- QUEIJO MUSSARELA Á GOSTO</p>
      <p>- RODELAS DE TOMATE</p>
      <p>- ORÉGANO Á GOSTO</p>
    </ion-badge>
   <br>
   <br>
   <br>
    
      <h5 style=color:#ffffff> Almoço fácil e rápido:</h5>
      <ion-badge style="background: #5f010180">
      <iframe width="400" height="215" src="https://www.youtube.com/embed/yfKhiFXv8qs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
      <h4>Ingredientes:</h4>
      <u><h6>Para o arroz:</h6></u>
  
      <p>-1 colher (sopa) de óleo</p>
      <p>-3 dentes de alho picado</p>
      <p>-1 xícara (chá) de Arroz lavado e escorrido</p>
      <p>-2 colher (sopa) de óleo</p>
      <p>-2 colher (sopa) de óleo</p>
  
      <u><h6>Para o molho:</h6></u>
  
      <p>-2 colher (sopa) de óleo</p>
      <p>-1/2 cebola picada</p>
      <p>-6 salsichas picadas em rodelas</p>
      <p>-Orégano (a gosto)</p>
      <p>-Pimenta do reino (a gosto)</p>
      <p>-Cheiro verde (a gosto)</p>
      <p>-340g de molho de tomate pronto</p>
      <p>-Sal (a gosto)</p>
      <p>-Muçarela picada (a gosto)</p>
    </ion-badge>
    <br>
    <br>
    <br>
    </ion-content>
  